<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="UTF-8" />
    <meta
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
            name="viewport"
    />
    <meta content="ie=edge" http-equiv="X-UA-Compatible" />
    <meta content="en" http-equiv="Content-Language" />
    <meta content="#2d89ef" name="msapplication-TileColor" />
    <meta content="#4188c9" name="theme-color" />
    <meta
            content="black-translucent"
            name="apple-mobile-web-app-status-bar-style"
    />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="mobile-web-app-capable" />
    <meta content="True" name="HandheldFriendly" />
    <meta content="320" name="MobileOptimized" />
    <link href="../favicon.ico" rel="icon" type="image/x-icon" />
    <link href="../favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!-- Generated: 2018-04-16 09:29:05 +0200 -->
    <title>我的主页</title>
    <!-- Font -->
    <link href="../../static/css/fontawesome.min.css" rel="stylesheet" />

    <!--Dashboard Core-->
    <link href="../../static/css/dashboard.css" rel="stylesheet" />
    <script src="../../static/js/vendors/jquery-3.2.1.min.js"></script>
    <script src="../../static/js/vendors/jquery-jvectormap-2.0.3.min.js"></script>
    <script src="../../static/js/vendors/jquery-jvectormap-de-merc.js"></script>
    <script src="../../static/js/vendors/jquery-jvectormap-world-mill.js"></script>
    <script src="../../static/js/vendors/jquery.sparkline.min.js"></script>
    <script src="../../static/js/vendors/jquery.tablesorter.min.js"></script>
    <script src="../../static/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="../../static/js/vendors/chart.bundle.min.js"></script>
    <script src="../../static/js/vendors/selectize.min.js"></script>
    <script src="../../static/js/vendors/js.cookie-2.2.0.min.js"></script>

    <script src="../../static/js/core.js"></script>
    <link href="../../static/css/dashboard.css" rel="stylesheet" />
    <!-- c3.js Charts Plugin -->
    <link href="../../static/plugins/charts-c3/plugin.css" rel="stylesheet" />
    <!-- gijgo datepicker Plugin -->
    <link href="../../static/plugins/gijgo/css/gijgo.min.css" rel="stylesheet" />
    <script src="../../static/plugins/gijgo/js/gijgo.min.js"></script>
    <!-- fab Plugin -->
    <link href="../../static/plugins/fab/fab.css" rel="stylesheet" />
    <!-- Customize -->
    <link href="../../static/css/style.css" rel="stylesheet" />
    <script src="../../static/js/control.js"></script>
    <script src="../../static/js/convert.js"></script>
    <script src="../../static/js/user.js"></script>
    <script src="../../static/js/teacher.js"></script>
    <script src="../../static/js/student.js"></script>
    <script src="../../static/js/jwt.js"></script>
</head>
<body class="">
<div class="page">
    <div class="page-main">
        <div class="my-3 my-md-5">
            <div class="container">
                <div class="page-header">
                    <h1 class="page-title">
                        Dashboard
                    </h1>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <button class="btn-block"
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-6 col-md-3">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#">First link</a></li>
                                <li><a href="#">Second link</a></li>
                            </ul>
                        </div>
                        <div class="col-6 col-md-3">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#">Third link</a></li>
                                <li><a href="#">Fourth link</a></li>
                            </ul>
                        </div>
                        <div class="col-6 col-md-3">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#">Fifth link</a></li>
                                <li><a href="#">Sixth link</a></li>
                            </ul>
                        </div>
                        <div class="col-6 col-md-3">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#">Other link</a></li>
                                <li><a href="#">Last link</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0">
                    Premium and Open Source dashboard template with responsive and high quality UI. For Free!
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row align-items-center flex-row-reverse">
                <div class="col-auto ml-lg-auto">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <ul class="list-inline list-inline-dots mb-0">
                                <li class="list-inline-item"><a href="./docs/index.html">Documentation</a></li>
                                <li class="list-inline-item"><a href="./faq.html">FAQ</a></li>
                            </ul>
                        </div>
                        <div class="col-auto">
                            <a href="https://github.com/tabler/tabler" class="btn btn-outline-primary btn-sm">Source code</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
                    Copyright © 2018 <a href=".">Tabler</a>. Theme by <a href="https://codecalm.net" target="_blank">codecalm.net</a> All rights reserved.
                </div>
            </div>
        </div>
    </footer>
</div>

</body>
</html>
