<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">
    <title>激活</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          type="text/css"
          media="screen"
          href="../../static/css/common/style.css"/>
    <link rel="stylesheet"
          type="text/css"
          media="screen"
          href="../../static/css/common/signUp.css"/>
<script src="../../static/js/jquery-1.10.2.js"></script>
   <script src="../../static/js/common.js"></script><script src="../../static/js/jquery-1.10.2.js"></script>

<!--<script src="../../static/js/teacher.js"></script>-->
<!--<body onload="return getteamail();">-->
<body>
<div class="topBar">
    <div class="content-icon" onclick="goBack()">
        <img alt="" class="icon" src="../../static/img/Left_white.png"/>
    </div>
    <div class="content text text-light">激活</div>
</div>
<div class="tips">
    <span class="text text-large  text-bold">设置您的密码</span>
</div>
<div class="form">

    <div>
        <input class="input text text-small"
               type="text"
               id="usernumber"
               placeholder="填写新的密码"> <span class="text text-smallest text-grey myMarginLeft">密码长度8-32位，须包含数字、字母、符号至少2种号</span>
    </div>
    <div class="myMargin"></div>
    <div>
        <input class="input text text-small"
               type="text"
               id="userPassword"
               placeholder="再次输入以确认"> <span class="text text-smallest  text-red myMarginLeft"></span>
    </div>

    <div id="validForm">
        <span class="text text-smallest  text-red myMarginLeft">发送验证码到邮箱：user@host.domainnames</span>

        <div>
            <input class="valid-input text text-small"
                           type="text"  placeholder="输入验证码" />
            <input class="btn btn-valid" id="btnSend" type="button" value="发送验证码" />
        </div>
    </div>
    <div class="btnContainer">

        <button class="btn btn-big btn-success right"
                id="btnSubmit" disabled="disabled">确认提交</button>
    </div>
</div>
</body>
<script>

    function goBack() {
        window.location.href = "1.1_signUp.html"
    }
    $("#btnSend").click(function () {
        $("#btnSubmit").removeAttr("disabled");
    });
    $("#btnSubmit").click(function () {
        window.location.href = "1.0_log.html";
    });

</script>
</html>
