<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
      name="viewport"
    />
    <meta content="ie=edge" http-equiv="X-UA-Compatible" />
    <meta content="en" http-equiv="Content-Language" />
    <meta content="#2d89ef" name="msapplication-TileColor" />
    <meta content="#4188c9" name="theme-color" />
    <meta
      content="black-translucent"
      name="apple-mobile-web-app-status-bar-style"
    />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="mobile-web-app-capable" />
    <meta content="True" name="HandheldFriendly" />
    <meta content="320" name="MobileOptimized" />
    <link href="../favicon.ico" rel="icon" type="image/x-icon" />
    <link href="../favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!-- Generated: 2018-04-16 09:29:05 +0200 -->
    <title>小组设置</title>
    <!-- Font -->
    <link href="../../static/css/fontawesome.min.css" rel="stylesheet" />

    <!--Dashboard Core-->
    <link href="../../static/css/dashboard.css" rel="stylesheet" />
    <link href="../../static/css/tabler.css" rel="stylesheet" />
    <script src="../../static/js/vendors/jquery-3.2.1.min.js"></script>
    <script src="../../static/js/vendors/jquery-jvectormap-2.0.3.min.js"></script>
    <script src="../../static/js/vendors/jquery-jvectormap-de-merc.js"></script>
    <script src="../../static/js/vendors/jquery-jvectormap-world-mill.js"></script>
    <script src="../../static/js/vendors/jquery.sparkline.min.js"></script>
    <script src="../../static/js/vendors/jquery.tablesorter.min.js"></script>

    <script src="../../static/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="../../static/js/vendors/chart.bundle.min.js"></script>
    <script src="../../static/js/vendors/selectize.min.js"></script>
    <script src="../../static/js/vendors/js.cookie-2.2.0.min.js"></script>

    <script src="../../static/js/core.js"></script>
    <link href="../../static/css/dashboard.css" rel="stylesheet" />
    <link href="../../static/css/tabler.css" rel="stylesheet" />
    <!-- c3.js Charts Plugin -->
    <link href="../../static/plugins/charts-c3/plugin.css" rel="stylesheet" />
    <!-- gijgo datepicker Plugin -->
    <link
      href="../../static/plugins/gijgo/css/gijgo.min.css"
      rel="stylesheet"
    />
    <script src="../../static/plugins/gijgo/js/gijgo.min.js"></script>
    <!-- fab Plugin -->
    <link href="../../static/plugins/fab/fab.css" rel="stylesheet" />
    <!-- Customize -->
    <link href="../../static/css/style.css" rel="stylesheet" />
    <script src="../../static/js/jwt.js"></script>
    <script src="../../static/js/control.js"></script>
    <script src="../../static/js/convert.js"></script>
    <script src="../../static/js/user.js"></script>
    <script src="../../static/js/student.js"></script>
    <script src="../../static/js/user.js"></script>
    <script src="../../static/js/student.js"></script>
  </head>
  <body>
    <div class="page">
      <div class="page-main">
        <div class="header py-4">
          <div class="container">
            <div class="d-flex">
              <a class="header-brand ml-1" href="./home.html">
                <img
                  alt="logo"
                  class="header-brand-img"
                  src="../../static/images/brand.png"
                />
                XCms
              </a>
              <div class="d-flex order-lg-2 ml-auto">
                <div class="dropdown">
                  <a
                    class="nav-link pr-0 leading-none"
                    data-toggle="dropdown"
                    href="#"
                  >
                    <span
                      class="avatar"
                      style="background-image: url(../../static/images/male.png)"
                    ></span>
                    <span class="ml-2 d-none d-lg-block">
                      <span class="text-default" id="header-name"></span>
                      <small
                        class="text-muted d-block mt-1"
                        id="header-role"
                      ></small>
                    </span>
                  </a>
                  <div
                    class="dropdown-menu dropdown-menu-right dropdown-menu-arrow"
                  >
                    <a class="dropdown-item" href="./account-setting.html">
                      <i class="dropdown-icon fe fe-settings"></i> 个人设置
                    </a>

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="./help.html">
                      <i class="dropdown-icon fe fe-help-circle"></i> 获取帮助
                    </a>
                    <a class="dropdown-item" href="../common/login.html">
                      <i class="dropdown-icon fe fe-log-out"></i> 切换账户
                    </a>
                  </div>
                </div>
              </div>
              <a
                class="header-toggler d-lg-none ml-3 ml-lg-0"
                data-target="#headerMenuCollapse"
                data-toggle="collapse"
                href="#"
              >
                <span class="header-toggler-icon"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg order-lg-first">
                <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                  <li class="nav-item pl-5">
                    <a class="nav-link" href="./home.html"
                      ><i class="fe fe-home"></i> 我的主页</a
                    >
                  </li>
                  <li class="nav-item pl-5">
                    <a class="nav-link" href="./course-home.html"
                      ><i class="fe fe-book"></i> 我的课程</a
                    >
                  </li>
                  <li class="nav-item pl-5">
                    <a class="nav-link" href="./seminar-home.html"
                      ><i class="fe fe-book-open"></i> 我的讨论课</a
                    >
                  </li>
                  <li class="nav-item pl-5">
                    <a class="nav-link" href="progress.html"
                      ><i class="fe fe-play-circle"></i> 正在进行中</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="my-3 my-md-5 mt-5">
          <div class="container">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="./course-home.html">我的课程</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="course-team.html">课程组队</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  小组设置
                </li>
              </ol>
            </nav>
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">小组设置</h3>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-label">小组成员</label>
                          <div class="card">
                            <div class="card-body p-0">
                              <div class="table-responsive">
                                <table
                                  class="table card-table table-striped table-vcenter"
                                >
                                  <tbody>
                                    <tr>
                                      <td class="w-1">
                                        <span class="avatar">L</span>
                                      </td>
                                      <td class="text-nowrap">林晓明</td>
                                      <td>24320162202xxx</td>
                                      <td>组长</td>
                                      <td>
                                        <span
                                          class="status-icon bg-orange"
                                        ></span>
                                        J2ee
                                      </td>
                                      <td>
                                        <a
                                          class="icon"
                                          href="javascript:void(0)"
                                        >
                                          <i class="fe fe-trash"></i>
                                        </a>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td><span class="avatar">N</span></td>
                                      <td class="text-nowrap">牛晓彤</td>
                                      <td>24320162202xxx</td>
                                      <td>组员</td>
                                      <td>
                                        <span
                                          class="status-icon bg-orange"
                                        ></span>
                                        J2ee
                                      </td>
                                      <td>
                                        <a
                                          class="icon"
                                          href="javascript:void(0)"
                                        >
                                          <i class="fe fe-trash"></i>
                                        </a>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td><span class="avatar">J</span></td>

                                      <td class="text-nowrap">蒋耀</td>
                                      <td>24320162202xxx</td>
                                      <td>组员</td>
                                      <td>
                                        <span
                                          class="status-icon bg-orange"
                                        ></span>
                                        J2ee
                                      </td>
                                      <td>
                                        <a
                                          class="icon"
                                          href="javascript:void(0)"
                                        >
                                          <i class="fe fe-trash"></i>
                                        </a>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td><span class="avatar">X</span></td>

                                      <td class="text-nowrap">徐刚</td>
                                      <td>24320162202xxx</td>
                                      <td>组员</td>
                                      <td>
                                        <span
                                          class="status-icon bg-orange"
                                        ></span>
                                        J2ee
                                      </td>
                                      <td>
                                        <a
                                          class="icon"
                                          href="javascript:void(0)"
                                        >
                                          <i class="fe fe-trash"></i>
                                        </a>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td><span class="avatar">T</span></td>
                                      <td class="text-nowrap">谈雪</td>
                                      <td>24320162202xxx</td>
                                      <td>组员</td>
                                      <td>
                                        <span
                                          class="status-icon bg-orange"
                                        ></span>
                                        J2ee
                                      </td>
                                      <td>
                                        <a
                                          class="icon"
                                          href="javascript:void(0)"
                                        >
                                          <i class="fe fe-trash"></i>
                                        </a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-label">添加成员</label>
                          <div class="card" style="max-height:15rem">
                            <div class="table-responsive">
                              <table
                                class="table card-table table-vcenter text-nowrap"
                              >
                                <thead>
                                  <tr>
                                    <th class="w-auto"></th>
                                    <th colspan="2">姓名</th>
                                    <th>学号</th>
                                    <th>所属课程</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>
                                      <label
                                        class="custom-control custom-checkbox"
                                      >
                                        <input
                                          type="checkbox"
                                          class="custom-control-input"
                                          name="example-checkbox1"
                                          value="option1"
                                          checked=""
                                        />
                                        <span
                                          class="custom-control-label"
                                        ></span>
                                      </label>
                                    </td>
                                    <td class="w-1">
                                      <span class="avatar">L</span>
                                    </td>
                                    <td class="text-nowrap">林晓明</td>
                                    <td>24320162202xxx</td>
                                    <td>
                                      <span
                                        class="status-icon bg-orange"
                                      ></span>
                                      J2ee
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <label
                                        class="custom-control custom-checkbox"
                                      >
                                        <input
                                          type="checkbox"
                                          class="custom-control-input"
                                          name="example-checkbox1"
                                          value="option1"
                                          checked=""
                                        />
                                        <span
                                          class="custom-control-label"
                                        ></span>
                                      </label>
                                    </td>
                                    <td class="w-1">
                                      <span class="avatar">L</span>
                                    </td>
                                    <td class="text-nowrap">林晓明</td>
                                    <td>24320162202xxx</td>
                                    <td>
                                      <span
                                        class="status-icon bg-orange"
                                      ></span>
                                      J2ee
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <label
                                        class="custom-control custom-checkbox"
                                      >
                                        <input
                                          type="checkbox"
                                          class="custom-control-input"
                                          name="example-checkbox1"
                                          value="option1"
                                          checked=""
                                        />
                                        <span
                                          class="custom-control-label"
                                        ></span>
                                      </label>
                                    </td>
                                    <td class="w-1">
                                      <span class="avatar">L</span>
                                    </td>
                                    <td class="text-nowrap">林晓明</td>
                                    <td>24320162202xxx</td>
                                    <td>
                                      <span
                                        class="status-icon bg-orange"
                                      ></span>
                                      J2ee
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer text-right">
                      <div class="d-flex">
                        <a class="btn btn-link" href="course-team.html">取消</a>
                        <button
                          class="btn btn-primary ml-auto"
                          onclick="deleteTeamMember()"
                        >
                          退出小组
                        </button>
                        <button
                          class="btn btn-primary ml-auto"
                          onclick="updateTeam()"
                        >
                          确认修改
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="row align-items-center flex-row-reverse">
          <div class="col-12 col-lg-auto mt-0 mt-lg-0 text-center">
            Copyright © 2018
            <a href="https://github.com/XMUOOADIntellij/CourseManageSystem"
              >Cms</a
            >.
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
