<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
      name="viewport"
    />
    <meta content="ie=edge" http-equiv="X-UA-Compatible" />
    <meta content="en" http-equiv="Content-Language" />
    <meta content="#2d89ef" name="msapplication-TileColor" />
    <meta content="#4188c9" name="theme-color" />
    <meta
      content="black-translucent"
      name="apple-mobile-web-app-status-bar-style"
    />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="mobile-web-app-capable" />
    <meta content="True" name="HandheldFriendly" />
    <meta content="320" name="MobileOptimized" />
    <link href="../favicon.ico" rel="icon" type="image/x-icon" />
    <link href="../favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!-- Generated: 2018-04-16 09:29:05 +0200 -->
    <title>正在进行中</title>
    <!-- Font -->
    <link href="../../assets/css/fontawesome.min.css" rel="stylesheet" />

    <!--Dashboard Core-->
    <link href="../../assets/css/dashboard.css" rel="stylesheet" />
    <script src="../../assets/js/vendors/jquery-3.2.1.min.js"></script>
    <script src="../../assets/js/vendors/jquery-jvectormap-2.0.3.min.js"></script>
    <script src="../../assets/js/vendors/jquery-jvectormap-de-merc.js"></script>
    <script src="../../assets/js/vendors/jquery-jvectormap-world-mill.js"></script>
    <script src="../../assets/js/vendors/jquery.sparkline.min.js"></script>
    <script src="../../assets/js/vendors/jquery.tablesorter.min.js"></script>
    <script src="../../assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="../../assets/js/vendors/chart.bundle.min.js"></script>
    <script src="../../assets/js/vendors/selectize.min.js"></script>
    <script src="../../assets/js/core.js"></script>
    <link href="../../assets/css/dashboard.css" rel="stylesheet" />
    <!-- c3.js Charts Plugin -->
    <link href="../../assets/plugins/charts-c3/plugin.css" rel="stylesheet" />
    <!--Pomodoro-timer-->
    <link
      href="../../assets/plugins/pomodoro-timer/css/pomodoro-timer.css"
      rel="stylesheet"
    />
    <script src="../../assets/plugins/pomodoro-timer/js/pomodoro-timer.js"></script>
    <!--Input-spinner-->
    <script src="../../assets/plugins/spinner/input-spinner.js"></script>
    <!-- Customize -->
    <link href="../../assets/css/style.css" rel="stylesheet" />
    <script src="../../assets/js/common.js"></script>
    <script src="../../assets/js/teacher.js"></script>
  </head>
  <body>
    <div class="page">
      <div class="page-main">
        <div class="header py-4">
          <div class="container">
            <div class="d-flex">
              <a class="header-brand ml-1" href="./home.html">
                <img
                  alt="logo"
                  class="header-brand-img"
                  src="../../assets/images/brand.png"
                />Cms
              </a>
              <div class="d-flex order-lg-2 ml-auto">
                <div class="dropdown d-none d-md-flex">
                  <a class="nav-link icon" data-toggle="dropdown">
                    <i class="fe fe-bell"></i> <span class="nav-unread"></span>
                  </a>
                  <div
                    class="dropdown-menu dropdown-menu-right dropdown-menu-arrow"
                  >
                    <a class="dropdown-item d-flex" href="#">
                      <span
                        class="avatar mr-3 align-self-center"
                        style="background-image: url(../../assets/images/male.png)"
                      ></span>
                      <div>
                        <strong>Nathan</strong> pushed new commit: Fix page load
                        performance issue.
                        <div class="small text-muted">10 minutes ago</div>
                      </div>
                    </a>
                    <a class="dropdown-item d-flex" href="#">
                      <span
                        class="avatar mr-3 align-self-center"
                        style="background-image: url(../../assets/images/male.png)"
                      ></span>
                      <div>
                        <strong>Alice</strong> started new task: Tabler UI
                        design.
                        <div class="small text-muted">1 hour ago</div>
                      </div>
                    </a>
                    <a class="dropdown-item d-flex" href="#">
                      <span
                        class="avatar mr-3 align-self-center"
                        style="background-image: url(../../assets/images/male.png)"
                      ></span>
                      <div>
                        <strong>Rose</strong> deployed new version of NodeJS
                        REST Api V3
                        <div class="small text-muted">2 hours ago</div>
                      </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a
                      class="dropdown-item text-center text-muted-dark"
                      href="#"
                      >Mark all as read</a
                    >
                  </div>
                </div>
                <div class="dropdown">
                  <a
                    class="nav-link pr-0 leading-none"
                    data-toggle="dropdown"
                    href="#"
                  >
                    <span
                      class="avatar"
                      style="background-image: url(../../assets/images/male.png)"
                    ></span>
                    <span class="ml-2 d-none d-lg-block">
                      <span class="text-default">Jane Pearson</span>
                      <small class="text-muted d-block mt-1"
                        >Administrator</small
                      >
                    </span>
                  </a>
                  <div
                    class="dropdown-menu dropdown-menu-right dropdown-menu-arrow"
                  >
                    <a class="dropdown-item" href="account-setting.html">
                      <i class="dropdown-icon fe fe-settings"></i> 个人设置
                    </a>
                    <a class="dropdown-item" href="todo-list.html">
                      <span class="float-right"
                        ><span class="badge badge-primary">6</span></span
                      >
                      <i class="dropdown-icon fe fe-mail"></i> 待办事项
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="../common/help.html">
                      <i class="dropdown-icon fe fe-help-circle"></i> 获取帮助
                    </a>
                    <a class="dropdown-item" href="../common/login.html">
                      <i class="dropdown-icon fe fe-log-out"></i> 切换账户
                    </a>
                  </div>
                </div>
              </div>
              <a
                class="header-toggler d-lg-none ml-3 ml-lg-0"
                data-target="#headerMenuCollapse"
                data-toggle="collapse"
                href="#"
              >
                <span class="header-toggler-icon"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-3 ml-auto">
                <form class="input-icon my-3 my-lg-0">
                  <input
                    class="form-control header-search"
                    placeholder="Search&hellip;"
                    tabindex="1"
                    type="search"
                  />
                  <div class="input-icon-addon">
                    <i class="fe fe-search"></i>
                  </div>
                </form>
              </div>
              <div class="col-lg order-lg-first">
                <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                  <li class="nav-item pl-5">
                    <a class="nav-link" href="./home.html"
                      ><i class="fe fe-home"></i> 我的主页</a
                    >
                  </li>
                  <li class="nav-item pl-5">
                    <a class="nav-link" href="./course-home.html"
                      ><i class="fe fe-book"></i> 我的课程</a
                    >
                  </li>
                  <li class="nav-item pl-5">
                    <a class="nav-link" href="./seminar-home.html"
                      ><i class="fe fe-book-open"></i> 我的讨论课</a
                    >
                  </li>
                  <li class="nav-item pl-5">
                    <a class="nav-link" href="./going.html"
                      ><i class="fe fe-play-circle"></i> 正在进行中</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="my-3 my-md-5">
          <div class="container">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="">正在进行</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  业务流程分析
                </li>
              </ol>
            </nav>
            <div class="row">
              <div class="col-3 col-md-2 pr-0">
                <div>
                  <div class="mb-3">
                    <span class="btn btn-secondary btn-block">展示</span>
                  </div>
                  <div class="list-group list-group-transparent mb-0">
                    <a
                      class="list-group-item list-group-item-action d-flex align-items-center active px-1 py-3"
                      href="#"
                    >
                      <span class="icon mr-3"><i class="fe fe-inbox"></i></span
                      >1-1 <span class="ml-auto badge badge-primary"></span>
                    </a>
                    <a
                      class="list-group-item list-group-item-action d-flex align-items-center px-1 py-3"
                      href="#"
                    >
                      <span class="icon mr-3"><i class="fe fe-send"></i></span
                      >1-2
                    </a>
                    <a
                      class="list-group-item list-group-item-action d-flex align-items-center px-1 py-3"
                      href="#"
                    >
                      <span class="icon mr-3"
                        ><i class="fe fe-alert-circle"></i></span
                      >1-3 <span class="ml-auto badge badge-secondary">3</span>
                    </a>
                    <a
                      class="list-group-item list-group-item-action d-flex align-items-center px-1 py-3"
                      href="#"
                    >
                      <span class="icon mr-3"><i class="fe fe-star"></i></span
                      >1-4
                    </a>
                    <a
                      class="list-group-item list-group-item-action d-flex align-items-center px-1 py-3"
                      href="#"
                    >
                      <span class="icon mr-3"><i class="fe fe-file"></i></span
                      >1-5
                    </a>
                    <a
                      class="list-group-item list-group-item-action d-flex align-items-center px-1 py-3"
                      href="#"
                    >
                      <span class="icon mr-3"><i class="fe fe-tag"></i></span
                      >1-6
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-9 col-md-10">
                <div class="row">
                  <div class="col-md-8">
                    <div class="card">
                      <div class="card-header">
                        <h3 class="card-title">展示时间</h3>
                      </div>
                      <div class="card-body">
                        <div class="content-heading mb-3">
                          <h2 class="text-center m-0">
                            <span>
                              <button
                                id="pomodoroButton"
                                class="btn btn-default mx-lg-3 px-lg-6"
                                type="submit"
                                onclick="onPomodoroTimer()"
                              >
                                开始展示
                              </button>
                              <button
                                id="longButton"
                                class="btn btn-default mx-lg-3 px-lg-6"
                                type="submit"
                                onclick="onLongTimer()"
                              >
                                下一组
                              </button>
                            </span>
                          </h2>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-body text-center">
                            <div class="timer-time timer-container mb-3">
                              <div
                                class="timer-time-set timer-box"
                                id="currentTime"
                              >
                                <span id="hoursValue">00</span><span>:</span
                                ><span id="minutesValue">00</span><span>:</span
                                ><span id="secondsValue">00</span>
                              </div>
                              <div
                                class="timer-time-set timer-box"
                                id="nextTime"
                              >
                                <span id="hoursNext">00</span><span>:</span
                                ><span id="minutesNext">00</span><span>:</span
                                ><span id="secondsNext">00</span>
                              </div>
                            </div>
                            <div>
                              <button
                                id="restartButton"
                                class="btn btn-warning btn-lg mx-lg-3 px-lg-5"
                                type="submit"
                                onclick="onResetTimer()"
                              >
                                <i
                                  class="fe fe-rotate-ccw"
                                  aria-hidden="true"
                                ></i>
                              </button>
                              <button
                                id="startButton"
                                class="btn btn-primary btn-lg mx-lg-3 px-lg-5"
                                type="submit"
                                onclick="onStartTimer()"
                              >
                                <i class="fe fe-play" aria-hidden="true"></i>
                              </button>
                              <button
                                id="stopButton"
                                class="btn btn-danger btn-lg mx-lg-3 px-lg-5"
                                type="submit"
                                onclick="onStopTimer()"
                              >
                                <i class="fe fe-pause" aria-hidden="true"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card">
                      <div class="card-header">
                        <h3 class="card-title">展示打分</h3>
                      </div>
                      <div class="card-body">
                        <div class="form-group">
                          <input
                            type="number"
                            value="5"
                            min="0"
                            max="5"
                            step="0.5"
                            data-decimals="1"
                          />
                        </div>
                      </div>
                      <div class="card-footer" hidden>
                        <div class="d-flex">
                          <a class="btn btn-link" href="./course-home.html"
                            >取消</a
                          >
                          <button class="btn btn-primary ml-auto" type="submit">
                            确认修改
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-md-8">
                    <div class="card">
                      <div class="card-header">
                        <h3 class="card-title">提问队列</h3>
                      </div>
                      <div class="card-body">
                        <div>
                          <div class="mb-3">
                            <button class="btn btn-secondary btn-block">
                              抽取提问
                            </button>
                          </div>
                          <div class="list-group list-group-transparent mb-0">
                            <a
                              class="list-group-item list-group-item-action d-flex align-items-center active px-0"
                              href="#"
                            >
                              <span class="icon mr-3"
                                ><i class="fe fe-inbox"></i></span
                              >1-1
                              <span class="ml-auto badge badge-primary"></span>
                            </a>
                            <a
                              class="list-group-item list-group-item-action d-flex align-items-center px-0"
                              href="#"
                            >
                              <span class="icon mr-3"
                                ><i class="fe fe-send"></i></span
                              >1-2
                            </a>
                            <a
                              class="list-group-item list-group-item-action d-flex align-items-center px-0"
                              href="#"
                            >
                              <span class="icon mr-3"
                                ><i class="fe fe-alert-circle"></i></span
                              >1-3
                              <span class="ml-auto badge badge-secondary"
                                >3</span
                              >
                            </a>
                            <a
                              class="list-group-item list-group-item-action d-flex align-items-center px-0"
                              href="#"
                            >
                              <span class="icon mr-3"
                                ><i class="fe fe-star"></i></span
                              >1-4
                            </a>
                            <a
                              class="list-group-item list-group-item-action d-flex align-items-center px-0"
                              href="#"
                            >
                              <span class="icon mr-3"
                                ><i class="fe fe-file"></i></span
                              >1-5
                            </a>
                            <a
                              class="list-group-item list-group-item-action d-flex align-items-center px-0"
                              href="#"
                            >
                              <span class="icon mr-3"
                                ><i class="fe fe-tag"></i></span
                              >1-6
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card">
                      <div class="card-header">
                        <h3 class="card-title">提问打分</h3>
                      </div>
                      <div class="card-body">
                        <div class="form-group">
                          <input
                            type="number"
                            value="5"
                            min="0"
                            max="5"
                            step="0.5"
                            data-decimals="1"
                          />
                        </div>
                      </div>
                      <div class="card-footer" hidden>
                        <div class="d-flex">
                          <a class="btn btn-link" href="./course-home.html"
                            >取消</a
                          >
                          <button class="btn btn-primary ml-auto" type="submit">
                            确认修改
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="row align-items-center flex-row-reverse">
            <div class="col-12 mt-0 mt-lg-0 text-center">
              Copyright © 2018
              <a href="https://github.com/XMUOOADIntellij/CourseManageSystem"
                >Cms</a
              >.
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
