<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group12.course.mapper.RoundMapper">
  <resultMap id="BaseResultMap" type="com.group12.course.entity.Round">
    <id column="round_id" jdbcType="BIGINT" property="roundId" />
    <result column="round_num" jdbcType="SMALLINT" property="roundNum" />
    <result column="course_id" jdbcType="BIGINT" property="courseId" />
  </resultMap>
  <sql id="Base_Column_List">
    round_id, round_num, course_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from round
    where round_id = #{roundId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from round
    where round_id = #{roundId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.group12.course.entity.Round">
    insert into round (round_id, round_num, course_id
      )
    values (#{roundId,jdbcType=BIGINT}, #{roundNum,jdbcType=SMALLINT}, #{courseId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.group12.course.entity.Round">
    insert into round
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roundId != null">
        round_id,
      </if>
      <if test="roundNum != null">
        round_num,
      </if>
      <if test="courseId != null">
        course_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roundId != null">
        #{roundId,jdbcType=BIGINT},
      </if>
      <if test="roundNum != null">
        #{roundNum,jdbcType=SMALLINT},
      </if>
      <if test="courseId != null">
        #{courseId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.group12.course.entity.Round">
    update round
    <set>
      <if test="roundNum != null">
        round_num = #{roundNum,jdbcType=SMALLINT},
      </if>
      <if test="courseId != null">
        course_id = #{courseId,jdbcType=BIGINT},
      </if>
    </set>
    where round_id = #{roundId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.group12.course.entity.Round">
    update round
    set round_num = #{roundNum,jdbcType=SMALLINT},
      course_id = #{courseId,jdbcType=BIGINT}
    where round_id = #{roundId,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.group12.course.entity.Round">
    <id column="round_id" jdbcType="BIGINT" property="roundId" />
    <result column="round_num" jdbcType="SMALLINT" property="roundNum" />
    <result column="course_id" jdbcType="BIGINT" property="courseId" />
  </resultMap>
  <sql id="Base_Column_List">
    round_id, round_num, course_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from round
    where round_id = #{roundId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from round
    where round_id = #{roundId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.group12.course.entity.Round">
    insert into round (round_id, round_num, course_id
      )
    values (#{roundId,jdbcType=BIGINT}, #{roundNum,jdbcType=SMALLINT}, #{courseId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.group12.course.entity.Round">
    insert into round
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roundId != null">
        round_id,
      </if>
      <if test="roundNum != null">
        round_num,
      </if>
      <if test="courseId != null">
        course_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roundId != null">
        #{roundId,jdbcType=BIGINT},
      </if>
      <if test="roundNum != null">
        #{roundNum,jdbcType=SMALLINT},
      </if>
      <if test="courseId != null">
        #{courseId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.group12.course.entity.Round">
    update round
    <set>
      <if test="roundNum != null">
        round_num = #{roundNum,jdbcType=SMALLINT},
      </if>
      <if test="courseId != null">
        course_id = #{courseId,jdbcType=BIGINT},
      </if>
    </set>
    where round_id = #{roundId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.group12.course.entity.Round">
    update round
    set round_num = #{roundNum,jdbcType=SMALLINT},
      course_id = #{courseId,jdbcType=BIGINT}
    where round_id = #{roundId,jdbcType=BIGINT}
  </update>
</mapper>