@media screen and (max-width: 480px) {
  .form {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    width: 90%;
    border-radius: 5px;
  }
  .myBigMargin {
    margin-top: 10%;
  }
  .inputs {
    width: 96%;
    margin-left: 2%;
    height: 90px;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
  }
  .myMargin {
    margin-bottom: 2%;
  }
  .myMarginLeft {
    margin-left: 3%;
  }
  .text-center {
    text-align: center;
  }
  .icon-big {
    width: 48px;
    height: 48px;
  }
  .textRight {
    text-align: right;
  }
  .content-icon-center {
    width: 20%;
    padding-left: 40%;
    padding-right: 40%;
  }
  .text-left-margin {
    margin-left: 3%;
  }
  .selector {
    width: 40%;
  }
  .btn-giant {
    width: 93%;
  }
  .btn-big {
    width: 30%;
  }
  .btnContainer {
    width: 90%;
    margin: 5% 5%;
    padding: 0%;
    height: 40px;
  }
  .dialog-head {
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: white;
    background-color: #21273c;
    border-radius: 5px;
  }
  .dialog-row {
    width: 100%;
    line-height: 45px;
    height: 45px;
  }
  .conflict {
    float: right;
    width: 40%;
    margin-top: 4%;
    margin-right: 5%;
    border-radius: 5px;
    border: none;
  }
  .selector {
    float: right;
    width: 40%;
    margin-top: 2%;
    margin-right: 5%;
    border-radius: 5px;
    border: none;
  }
  .card-row-details {
    margin-left: 5%;
    margin-right: 5%;
  }
  .btn-warning {
    width: 44%;
  }
}
