.form_up_team{
    width: 96%;
    margin-left: 2%;
    border-radius: 5%;
    float: left;
    height: 50px;
    background-color: #96c864;
    margin-top: 20px;

}
.card-head-content{
    width:80%;
}

