<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en" />
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="./favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico" />
    <!-- Generated: 2018-04-16 09:29:05 +0200 -->
    <title>Pricing cards</title>
    <!-- Font -->
    <link rel="stylesheet" href="../../assets/css/fontawesome.min.css">
    <link rel="stylesheet" href="../../assets/css/fonts.css">
    <!-- Require.js -->
    <script src="../../assets/js/require.min.js"></script>
    <script>
        requirejs.config({
            baseUrl: '.'
        });
    </script>
    <!-- Dashboard Core -->
    <link href="../../assets/css/dashboard.css" rel="stylesheet" />
    <script src="../../assets/js/dashboard.js"></script>
    <!-- c3.js Charts Plugin -->
    <link href="../../assets/plugins/charts-c3/plugin.css" rel="stylesheet" />
    <script src="../../assets/plugins/charts-c3/plugin.js"></script>
    <!-- Google Maps Plugin -->
    <link href="../../assets/plugins/maps-google/plugin.css" rel="stylesheet" />
    <script src="../../assets/plugins/maps-google/plugin.js"></script>
    <!-- Input Mask Plugin -->
    <script src="../../assets/plugins/input-mask/plugin.js"></script>
</head>
<body class="">
<div class="page">
    <div class="page-main">
        <div class="header py-4">
            <div class="container">
                <div class="d-flex">
                    <a class="header-brand">
                        <img src="./favicon.ico" class="header-brand-img" alt="tabler logo">
                    </a>
                    <div class="d-flex order-lg-2 ml-auto">

                        <div class="dropdown">
                            <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
                                <span class="avatar" style="background-image: url(../../demo/faces/female/25.jpg)"></span>
                                <span class="ml-2 d-none d-lg-block">
                      <span class="text-default">Jane Pearson</span>
                      <small class="text-muted d-block mt-1">Administrator</small>
                    </span>
                            </a>
                        </div>
                    </div>
                    <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
                        <span class="header-toggler-icon"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="my-3 my-md-5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg order-lg-first">
                        <ul class="nav nav-tabs border-0 mb-5 flex-column flex-lg-row">
                            <li class="nav-item">
                                <a href="./score.html" class="nav-link active"><i class="fe fe-image"></i>
                                    选择课程</a>
                            </li>


                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="card">
                            <div class="card-body text-center">
                                <div class="card-category">刘昆宏</div>
                                <div class="card-title">算法的分析和设计</div>
                                <ul class="list-unstyled leading-loose">
                                    <li>星期四 3-4节</li>
                                    <li>无任务</li>

                                </ul>
                                <div class="text-center mt-6">
                                    <a href="#" class="btn btn-secondary btn-block">Choose plan</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="card">
                            <div class="card-body text-center">
                                <div class="card-category">邱明</div>
                                <div class="card-title">面向对象的分析与设计</div>
                                <ul class="list-unstyled leading-loose">
                                    <li>星期四 1-2节</li>
                                    <li>无任务</li>

                                </ul>
                                <div class="text-center mt-6">
                                    <a href="#" class="btn btn-secondary btn-block">Choose plan</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="card">
                            <div class="card-body text-center">
                                <div class="card-category">刘昆宏</div>
                                <div class="card-title">算法的分析和设计</div>
                                <ul class="list-unstyled leading-loose">
                                    <li>星期四 1-3节</li>
                                    <li>无任务</li>

                                </ul>
                                <div class="text-center mt-6">
                                    <a href="#" class="btn btn-secondary btn-block">Choose plan</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="card">
                            <div class="card-body text-center">
                                <div class="card-category">刘昆宏</div>
                                <div class="card-title">算法的分析和设计</div>
                                <ul class="list-unstyled leading-loose">
                                    <li>星期四 1-3节</li>
                                    <li>无任务</li>

                                </ul>
                                <div class="text-center mt-6">
                                    <a href="#" class="btn btn-secondary btn-block">Choose plan</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>