<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
      name="viewport"
    />
    <meta content="ie=edge" http-equiv="X-UA-Compatible" />
    <meta content="en" http-equiv="Content-Language" />
    <meta content="#2d89ef" name="msapplication-TileColor" />
    <meta content="#4188c9" name="theme-color" />
    <meta
      content="black-translucent"
      name="apple-mobile-web-app-status-bar-style"
    />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="mobile-web-app-capable" />
    <meta content="True" name="HandheldFriendly" />
    <meta content="320" name="MobileOptimized" />
    <link href="../favicon.ico" rel="icon" type="image/x-icon" />
    <link href="../favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!-- Generated: 2018-04-16 09:29:05 +0200 -->
    <title>404</title>
    <!-- Font -->
    <link href="../../assets/css/fontawesome.min.css" rel="stylesheet" />

    <!--Dashboard Core-->
    <link href="../../assets/css/dashboard.css" rel="stylesheet" />
    <script src="../../assets/js/vendors/jquery-3.2.1.min.js"></script>
    <script src="../../assets/js/vendors/jquery-jvectormap-2.0.3.min.js"></script>
    <script src="../../assets/js/vendors/jquery-jvectormap-de-merc.js"></script>
    <script src="../../assets/js/vendors/jquery-jvectormap-world-mill.js"></script>
    <script src="../../assets/js/vendors/jquery.sparkline.min.js"></script>
    <script src="../../assets/js/vendors/jquery.tablesorter.min.js"></script>
    <script src="../../assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="../../assets/js/vendors/chart.bundle.min.js"></script>
    <script src="../../assets/js/vendors/selectize.min.js"></script>
    <script src="../../assets/js/core.js"></script>
    <link href="../../assets/css/dashboard.css" rel="stylesheet" />
    <!-- c3.js Charts Plugin -->
    <link href="../../assets/plugins/charts-c3/plugin.css" rel="stylesheet" />
<!-- Customize -->
    <link href="../../assets/css/style.css" rel="stylesheet" />
    <script src="../../assets/js/common.js"></script>
  </head>
  <body class="">
    <div class="page">
      <div class="page-content">
        <div class="container text-center">
          <div class="display-1 text-muted mb-5">
            <i class="si si-exclamation"></i> 404
          </div>
          <h1 class="h2 mb-3">Oops.. You just found an error page..</h1>
          <p class="h4 text-muted font-weight-normal mb-7">
            We are sorry but our service is currently not available&hellip;
          </p>
          <a class="btn btn-primary" href="javascript:history.back()">
            <i class="fe fe-arrow-left mr-2"></i>Go back
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
