<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../../static/css/common/style.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../../static/css/teacher/courseManagement.css"/>
    <script src="../../static/js/jquery-1.10.2.js"></script>

<script src="../../static/js/teacher.js"></script></head>
<body>
<div class="topBar">
    <div class="content-icon"><img alt=""  class="icon" src="../../static/img/Left_white.png"/></div>
    <div class="content text text-light">OOAD</div>
    <div class="content-icon"><img alt=""  class="icon" src="../../static/img/Add_white.png"/></div>
</div>
<div class="card">
    <div class="card-head">
        <span class="card-head-content text-large text-light">第一轮</span>
        <div class="content-icon"><img alt=""  class="icon" src="../../static/img/Up_white.png"/></div>
    </div>
    <div class="card-head card-head-secondary">
        <span class="card-head-content text">学生成绩</span>
        <div class="content-icon"><img alt=""  class="icon" src="../../static/img/Right_black.png"/></div>
    </div>
    <div class="separator-dark"></div>
    <div class="card-head card-head-secondary">
        <span class="card-head-content text">学生组队</span>
        <div class="content-icon"><img alt=""  class="icon" src="../../static/img/Right_black.png"/></div>
    </div>
    <div class="separator-dark"></div>
    <div class="card-head card-head-secondary">
        <span class="card-head-content text">课程信息</span>
        <div class="content-icon"><img alt=""  class="icon" src="../../static/img/Right_black.png"/></div>
    </div>
    <div class="separator-dark"></div>
    <div class="card-head card-head-secondary">
        <span class="card-head-content text">班级信息</span>
        <div class="content-icon"><img alt=""  class="icon" src="../../static/img/Right_black.png"/></div>
    </div>
    <div class="separator-dark"></div>
    <div class="card-head card-head-secondary">
        <span class="card-head-content text">讨论课轮次</span>
        <div class="content-icon"><img alt=""  class="icon" src="../../static/img/Right_black.png"/></div>
    </div>
    <div class="separator-dark"></div>
    <div class="card-head card-head-secondary">
        <span class="card-head-content text">共享设置</span>
        <div class="content-icon"><img alt=""  class="icon" src="../../static/img/Right_black.png"/></div>
    </div>
</div>
<div class="card">
    <div class="card-head">
        <span class="card-head-content text-large text-light">第二轮</span>
        <div class="content-icon"><img alt=""  class="icon" src="../../static/img/Down_white.png"/></div>
    </div>
    <div>
        <div class="card-head card-head-secondary">
            <span class="card-head-content text">学生成绩</span>
            <div class="content-icon"><img alt=""  class="icon" src="../../static/img/Right_black.png"/></div>
        </div>
        <div class="separator-dark"></div>
        <div class="card-head card-head-secondary">
            <span class="card-head-content text">学生组队</span>
            <div class="content-icon"><img alt=""  class="icon" src="../../static/img/Right_black.png"/></div>
        </div>
        <div class="separator-dark"></div>
        <div class="card-head card-head-secondary">
            <span class="card-head-content text">课程信息</span>
            <div class="content-icon"><img alt=""  class="icon" src="../../static/img/Right_black.png"/></div>
        </div>
        <div class="separator-dark"></div>
        <div class="card-head card-head-secondary">
            <span class="card-head-content text">班级信息</span>
            <div class="content-icon"><img alt=""  class="icon" src="../../static/img/Right_black.png"/></div>
        </div>
        <div class="separator-dark"></div>
        <div class="card-head card-head-secondary">
            <span class="card-head-content text">讨论课轮次</span>
            <div class="content-icon"><img alt=""  class="icon" src="../../static/img/Right_black.png"/></div>
        </div>
        <div class="separator-dark"></div>
        <div class="card-head card-head-secondary">
            <span class="card-head-content text">共享设置</span>
            <div class="content-icon"><img alt=""  class="icon" src="../../static/img/Right_black.png"/></div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-orange">
        <div class="content-icon"><img alt=""  class="icon" src="../../static/img/Add_white.png"/></div>
        <span class="card-head-content text-large text-light">新建轮次</span>
    </div>
</div>
<div class="card">
    <div class="card-orange">
        <div class="content-icon"><img alt=""  class="icon" src="../../static/img/Add_white.png"/></div>
        <span class="card-head-content text-large text-light">新建课程</span>
    </div>
</div>
</body>
</html>