<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
      name="viewport"
    />
    <meta content="ie=edge" http-equiv="X-UA-Compatible" />
    <meta content="en" http-equiv="Content-Language" />
    <meta content="#2d89ef" name="msapplication-TileColor" />
    <meta content="#4188c9" name="theme-color" />
    <meta
      content="black-translucent"
      name="apple-mobile-web-app-status-bar-style"
    />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="mobile-web-app-capable" />
    <meta content="True" name="HandheldFriendly" />
    <meta content="320" name="MobileOptimized" />
    <link href="../favicon.ico" rel="icon" type="image/x-icon" />
    <link href="../favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!-- Generated: 2018-04-16 09:29:05 +0200 -->
    <title>新建课程</title>
    <!-- Font -->
    <link href="../../static/css/fontawesome.min.css" rel="stylesheet" />

    <!--Dashboard Core-->
    <link href="../../static/css/dashboard.css" rel="stylesheet" />
    <link href="../../static/css/tabler.css" rel="stylesheet" />
    <script src="../../static/js/vendors/jquery-3.2.1.min.js"></script>
    <script src="../../static/js/vendors/jquery-jvectormap-2.0.3.min.js"></script>
    <script src="../../static/js/vendors/jquery-jvectormap-de-merc.js"></script>
    <script src="../../static/js/vendors/jquery-jvectormap-world-mill.js"></script>
    <script src="../../static/js/vendors/jquery.sparkline.min.js"></script>
    <script src="../../static/js/vendors/jquery.tablesorter.min.js"></script>

    <script src="../../static/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="../../static/js/vendors/chart.bundle.min.js"></script>
    <script src="../../static/js/vendors/selectize.min.js"></script>
    <script src="../../static/js/vendors/js.cookie-2.2.0.min.js"></script>

    <script src="../../static/js/core.js"></script>
    <link href="../../static/css/dashboard.css" rel="stylesheet" />
    <link href="../../static/css/tabler.css" rel="stylesheet" />
    <!-- c3.js Charts Plugin -->
    <link href="../../static/plugins/charts-c3/plugin.css" rel="stylesheet" />
    <!-- gijgo datepicker Plugin -->
    <link
      href="../../static/plugins/gijgo/css/gijgo.min.css"
      rel="stylesheet"
    />
    <script src="../../static/plugins/gijgo/js/gijgo.min.js"></script>
    <!-- fab Plugin -->
    <link href="../../static/plugins/fab/fab.css" rel="stylesheet" />
    <!-- Customize -->
    <link href="../../static/css/style.css" rel="stylesheet" />
    <script src="../../static/js/jwt.js"></script>

    <script src="../../static/js/fast-json.js"></script>
    <script src="../../static/js/convert.js"></script>
    <script src="../../static/js/user.js"></script>
    <script src="../../static/js/teacher.js"></script>
  </head>
  <body onload="getAllCourse()">
    <div class="page">
      <div class="page-main">
        <div class="header py-4">
          <div class="container">
            <div class="d-flex">
              <a class="header-brand ml-1" href="./home.html">
                <img
                  alt="logo"
                  class="header-brand-img"
                  src="../../static/images/brand.png"
                />
                XCms
              </a>
              <div class="d-flex order-lg-2 ml-auto">
                <div class="dropdown d-none d-md-flex">
                  <a class="nav-link icon" href="todo-list.html">
                    <i class="fe fe-bell"></i> <span class="nav-unread"></span>
                  </a>
                </div>
                <div class="dropdown">
                  <a
                    class="nav-link pr-0 leading-none"
                    data-toggle="dropdown"
                    href="#"
                  >
                    <span
                      class="avatar"
                      style="background-image: url(../../static/images/male.png)"
                    ></span>
                    <span class="ml-2 d-none d-lg-block">
                      <span class="text-default" id="header-name"></span>
                      <small
                        class="text-muted d-block mt-1"
                        id="header-role"
                      ></small>
                    </span>
                  </a>
                  <div
                    class="dropdown-menu dropdown-menu-right dropdown-menu-arrow"
                  >
                    <a class="dropdown-item" href="./account-setting.html">
                      <i class="dropdown-icon fe fe-settings"></i> 个人设置
                    </a>
                    <a class="dropdown-item" href="./todo-list.html">
                      <i class="dropdown-icon fe fe-mail"></i> 待办事项
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="./help.html">
                      <i class="dropdown-icon fe fe-help-circle"></i> 获取帮助
                    </a>
                    <a class="dropdown-item" href="../common/login.html">
                      <i class="dropdown-icon fe fe-log-out"></i> 切换账户
                    </a>
                  </div>
                </div>
              </div>
              <a
                class="header-toggler d-lg-none ml-3 ml-lg-0"
                data-target="#headerMenuCollapse"
                data-toggle="collapse"
                href="#"
              >
                <span class="header-toggler-icon"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg order-lg-first">
                <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                  <li class="nav-item pl-5">
                    <a class="nav-link" href="./home.html"
                      ><i class="fe fe-home"></i> 我的主页</a
                    >
                  </li>
                  <li class="nav-item pl-5">
                    <a class="nav-link" href="./course-home.html"
                      ><i class="fe fe-book"></i> 我的课程</a
                    >
                  </li>
                  <li class="nav-item pl-5">
                    <a class="nav-link" href="./seminar-home.html"
                      ><i class="fe fe-book-open"></i> 我的讨论课</a
                    >
                  </li>
                  <li class="nav-item pl-5">
                    <a class="nav-link" href="progress.html"
                      ><i class="fe fe-play-circle"></i> 正在进行中</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="my-3 my-md-5">
          <div class="container">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="./course-home.html">我的课程</a>
                </li>
                <li aria-current="page" class="breadcrumb-item active">
                  新建课程
                </li>
              </ol>
            </nav>
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">新建课程</h3>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="form-label">课程名称</label>
                          <input
                                  class="form-control"
                                  name="example-text-input"
                                  placeholder="Text.."
                                  type="text"
                                  id="courseName"
                          />
                        </div>
                        <div class="form-group">
                          <label class="form-label"
                          >课程要求
                            <span class="form-label-small">/500</span></label
                          >
                          <textarea
                                  class="form-control"
                                  name="example-textarea-input"
                                  placeholder="Content.."
                                  rows="6"
                                  id="introduction"
                          ></textarea>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="form-label">成绩计算规则</label>
                          <div class="input-group mb-3">
                            <span class="input-group-prepend">
                              <span class="input-group-text"> 课堂展示</span>
                            </span>
                            <input
                                    class="form-control"
                                    name="example-text-input"
                                    placeholder="Text.."
                                    type="text"
                                    id="presentationPercentage"
                            />                          </div>
                          <div class="input-group mb-3">
                            <span class="input-group-prepend">
                              <span class="input-group-text"> 课堂提问</span>
                            </span>
                            <input
                                    class="form-control"
                                    name="example-text-input"
                                    placeholder="Text.."
                                    type="text"
                                    id="questionPercentage"
                            />                          </div>
                          <div class="input-group ">
                            <span class="input-group-prepend">
                              <span class="input-group-text"> 书面报告</span>
                            </span>
                            <input
                                    class="form-control"
                                    name="example-text-input"
                                    placeholder="Text.."
                                    type="text"
                                    id="reportPercentage"
                            />                          </div>
                        </div>
                        <div class="form-group">
                          <div class="row gutters-xs">
                            <div class="col-lg-6">
                              <label class="form-label">组队开始时间</label>
                              <div class="row gutters-xs px-1">
                                <input id="teamStartTime" />
                              </div>
                            </div>
                            <div class="col-lg-6">
                              <label class="form-label">组队结束时间</label>
                              <div class="row gutters-xs px-1">
                                <input id="teamEndTime" />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="form-label">组队总人数</label>
                          <div class="row gutters-xs">
                            <div class="input-group col-6">
                              <span class="input-group-prepend">
                                <span class="input-group-text"> 人数下限</span>
                              </span>
                              <input
                                      class="form-control"
                                      name="example-text-input"
                                      placeholder="Text.."
                                      type="text"
                                      id="minMember"
                              />
                            </div>
                            <div class="input-group col-6">
                              <span class="input-group-prepend">
                                <span class="input-group-text"> 人数上限</span>
                              </span>
                              <input
                                      class="form-control"
                                      name="example-text-input"
                                      placeholder="Text.."
                                      type="text"
                                      id="maxMember"
                              />
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="form-label">选修课人数要求</label>
                          <div class="row gutters-xs">
                            <div class="input-group col-6">
                              <select
                                      class="form-control custom-select"
                                      name="user[month]"
                              >
                                <option selected="selected" value="1">均满足</option>
                                <option value="2">满足其一</option>
                              </select>
                            </div>
                          </div>
                        </div>

                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="form-label">组内选修课人数</label>
                          <div class="card" style="max-height:8rem">
                            <div class="table-responsive">
                              <table
                                      class="table card-table table-vcenter text-nowrap"
                              >
                                <thead>
                                <tr>
                                  <th class="w-auto"></th>
                                  <th>课程名称</th>
                                  <th>人数下限</th>
                                  <th>人数上限</th>
                                </tr>
                                </thead>
                                <tbody class="check1" id="content1">
                                <!--<tr>
                                  <td>
                                    <label
                                            class="custom-control custom-checkbox"
                                    >
                                      <input
                                              type="checkbox"
                                              class="custom-control-input"
                                              name="example-checkbox1"
                                              value="option1"
                                      />
                                      <span
                                              class="custom-control-label"
                                      ></span>
                                    </label>
                                  </td>
                                  <td>
                                      <span class="text-muted"
                                      >J2EE</span
                                      >
                                  </td>
                                  <td> <input
                                          class="form-control"
                                          name="example-text-input"
                                          placeholder="Text.."
                                          type="text"
                                  /></td>
                                  <td> <input
                                          class="form-control"
                                          name="example-text-input"
                                          placeholder="Text.."
                                          type="text"
                                  /></td>
                                </tr>
                                <tr>
                                  <td>
                                    <label
                                            class="custom-control custom-checkbox"
                                    >
                                      <input
                                              type="checkbox"
                                              class="custom-control-input"
                                              name="example-checkbox1"
                                              value="option1"
                                              checked=""
                                      />
                                      <span
                                              class="custom-control-label"
                                      ></span>
                                    </label>
                                  </td>
                                  <td>
                                      <span class="text-muted"
                                      >J2EE</span
                                      >
                                  </td>
                                  <td> <input
                                          class="form-control"
                                          name="example-text-input"
                                          placeholder="Text.."
                                          type="text"
                                  /></td>
                                  <td> <input
                                          class="form-control"
                                          name="example-text-input"
                                          placeholder="Text.."
                                          type="text"
                                  /></td>
                                </tr>
                                <tr>
                                  <td>
                                    <label
                                            class="custom-control custom-checkbox"
                                    >
                                      <input
                                              type="checkbox"
                                              class="custom-control-input"
                                              name="example-checkbox1"
                                              value="option1"
                                              checked=""
                                      />
                                      <span
                                              class="custom-control-label"
                                      ></span>
                                    </label>
                                  </td>
                                  <td>
                                      <span class="text-muted"
                                      >J2EE</span
                                      >
                                  </td>
                                  <td> <input
                                          class="form-control"
                                          name="example-text-input"
                                          placeholder="Text.."
                                          type="text"
                                  /></td>
                                  <td> <input
                                          class="form-control"
                                          name="example-text-input"
                                          placeholder="Text.."
                                          type="text"
                                  /></td>
                                </tr>
                                <tr>
                                  <td>
                                    <label
                                            class="custom-control custom-checkbox"
                                    >
                                      <input
                                              type="checkbox"
                                              class="custom-control-input"
                                              name="example-checkbox1"
                                              value="option1"
                                              checked=""
                                      />
                                      <span
                                              class="custom-control-label"
                                      ></span>
                                    </label>
                                  </td>
                                  <td>
                                      <span class="text-muted"
                                      >J2EE</span
                                      >
                                  </td>
                                  <td> <input
                                          class="form-control"
                                          name="example-text-input"
                                          placeholder="Text.."
                                          type="text"
                                  /></td>
                                  <td> <input
                                          class="form-control"
                                          name="example-text-input"
                                          placeholder="Text.."
                                          type="text"
                                  /></td>
                                </tr>-->
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <label class="form-label mb-3">冲突课程
                          <a
                                  class="btn btn-sm btn-outline-primary ml-3"
                                  role="button"
                                  onclick="addConflictsGroup()"
                          >
                            <i class="fe fe-plus-circle mr-3"></i>增加冲突组</a
                          ></label>
                      </div>

                    </div>
                    <div class="row" id="content3">
                      <div class="col-md-6 col-lg-6">
                        <div class="form-group">

                          <div class="card" style="max-height:12rem">
                            <div class="table-responsive">
                              <table
                                      class="table card-table table-vcenter text-nowrap"
                              >
                                <thead>
                                <tr>
                                  <th class="w-auto"></th>
                                  <th>课程名称</th>
                                </tr>
                                </thead>
                                <tbody class="check2" id="content2">
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>

                      </div>

                    </div>
                    </div>
                  </div>
                  <div class="card-footer text-right">
                    <div class="d-flex">
                      <a class="btn btn-link" href="./course-home.html">取消</a>
                      <button
                        class="btn btn-primary ml-auto"
                        onclick="createCourse()"
                      >
                        确认发布
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="row align-items-center flex-row-reverse">
            <div class="col-12 col-lg-auto mt-0 mt-lg-0 text-center">
              Copyright © 2018
              <a href="https://github.com/XMUOOADIntellij/CourseManageSystem"
                >Cms</a
              >.
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
  <script>
    $("#teamStartTime").datetimepicker({
      uiLibrary: "bootstrap4",
      modal: true,
      footer: true
    });
    $("#teamEndTime").datetimepicker({
      uiLibrary: "bootstrap4",
      modal: true,
      footer: true
    });
    $("#input-deadline").datetimepicker({
      uiLibrary: "bootstrap4",
      modal: true,
      footer: true
    });
  </script>
</html>
