<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" media="screen" href="../../static/css/teacher/seminarProcess.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../../static/css/common/style.css"/>
</head>
<body>

<div class="topBar">
    <div class="content-icon">
        <img alt="" class="icon" src="../../static/img/Left_white.png"/>
    </div>
    <div class="content text text-light">OOAD讨论课</div>
</div>

<div class="seminar_name">
    <div class="name">
        业务流程分析
    </div>
</div>

<div class="presentation_list">
    <div class="text-bold" style="margin-top: 13px;font-size: 20px">展示列表</div>
    <ul>
        <li >1-1</li>
        <li >1-2</li>
        <li >1-3</li>
        <li >1-4</li>
        <li >1-5</li>
        <li >1-6</li>
    </ul>
</div>

<div class="control_time">
    <div class="text-bold" >展示时间</div>

    <input id="my_time" type="text" value="00:00:00" readonly>

    <div class="myMargin"></div>

    <button id="start" class="btn btn-giant btn-red" onclick="score()" >开始展示</button>

    <div class="myMargin"></div>

    <button id="next" class="btn btn-giant btn-green" >切换小组</button>

    <div class="myMargin"></div>

</div>


<div class="status">
    <div class="tips">当前展示小组 </div>
    <div class="on">1-2</div>
</div>


</body>
</html>