<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
      name="viewport"
    />
    <meta content="ie=edge" http-equiv="X-UA-Compatible" />
    <meta content="en" http-equiv="Content-Language" />
    <meta content="#2d89ef" name="msapplication-TileColor" />
    <meta content="#4188c9" name="theme-color" />
    <meta
      content="black-translucent"
      name="apple-mobile-web-app-status-bar-style"
    />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="mobile-web-app-capable" />
    <meta content="True" name="HandheldFriendly" />
    <meta content="320" name="MobileOptimized" />
    <link href="../favicon.ico" rel="icon" type="image/x-icon" />
    <link href="../favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!-- Generated: 2018-04-16 09:29:05 +0200 -->
    <title>任务列表</title>
    <!-- Font -->
    <link href="../../static/css/fontawesome.min.css" rel="stylesheet" />

    <!--Dashboard Core-->
    <link href="../../static/css/dashboard.css" rel="stylesheet" />
    <link href="../../static/css/tabler.css" rel="stylesheet" />
    <script src="../../static/js/vendors/jquery-3.2.1.min.js"></script>
    <script src="../../static/js/vendors/jquery-jvectormap-2.0.3.min.js"></script>
    <script src="../../static/js/vendors/jquery-jvectormap-de-merc.js"></script>
    <script src="../../static/js/vendors/jquery-jvectormap-world-mill.js"></script>
    <script src="../../static/js/vendors/jquery.sparkline.min.js"></script>
    <script src="../../static/js/vendors/jquery.tablesorter.min.js"></script>

    <script src="../../static/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="../../static/js/vendors/chart.bundle.min.js"></script>
    <script src="../../static/js/vendors/selectize.min.js"></script>
    <script src="../../static/js/vendors/js.cookie-2.2.0.min.js"></script>

    <script src="../../static/js/core.js"></script>
    <link href="../../static/css/dashboard.css" rel="stylesheet" />
    <link href="../../static/css/tabler.css" rel="stylesheet" />
    <!-- c3.js Charts Plugin -->
    <link href="../../static/plugins/charts-c3/plugin.css" rel="stylesheet" />
    <!-- gijgo datepicker Plugin -->
    <link
      href="../../static/plugins/gijgo/css/gijgo.min.css"
      rel="stylesheet"
    />
    <script src="../../static/plugins/gijgo/js/gijgo.min.js"></script>
    <!-- fab Plugin -->
    <link href="../../static/plugins/fab/fab.css" rel="stylesheet" />
    <!-- Customize -->
    <link href="../../static/css/style.css" rel="stylesheet" />
    <script src="../../static/js/jwt.js"></script>
    <script src="../../static/js/control.js"></script>
    <script src="../../static/js/convert.js"></script>
    <script src="../../static/js/user.js"></script>
    <script src="../../static/js/teacher.js"></script>
    <script src="../../static/js/user.js"></script>
    <script src="../../static/js/teacher.js"></script>
  </head>
  <body onload=" getTeamShareTask();getSeminarShareTask();getTeamValidTask();">
    <div class="page">
      <div class="page-main">
        <div class="header py-4">
          <div class="container">
            <div class="d-flex">
              <a class="header-brand ml-1" href="./home.html">
                <img
                  alt="logo"
                  class="header-brand-img"
                  src="../../static/images/brand.png"
                />
                XCms
              </a>
              <div class="d-flex order-lg-2 ml-auto">
                <div class="dropdown d-none d-md-flex">
                  <a class="nav-link icon" href="todo-list.html">
                    <i class="fe fe-bell"></i> <span class="nav-unread"></span>
                  </a>
                </div>
                <div class="dropdown">
                  <a
                    class="nav-link pr-0 leading-none"
                    data-toggle="dropdown"
                    href="#"
                  >
                    <span
                      class="avatar"
                      style="background-image: url(../../static/images/male.png)"
                    ></span>
                    <span class="ml-2 d-none d-lg-block">
                      <span class="text-default" id="header-name"></span>
                      <small
                        class="text-muted d-block mt-1"
                        id="header-role"
                      ></small>
                    </span>
                  </a>
                  <div
                    class="dropdown-menu dropdown-menu-right dropdown-menu-arrow"
                  >
                    <a class="dropdown-item" href="./account-setting.html">
                      <i class="dropdown-icon fe fe-settings"></i> 个人设置
                    </a>
                    <a class="dropdown-item" href="./todo-list.html">
                      <i class="dropdown-icon fe fe-mail"></i> 待办事项
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="./help.html">
                      <i class="dropdown-icon fe fe-help-circle"></i> 获取帮助
                    </a>
                    <a class="dropdown-item" href="../common/login.html">
                      <i class="dropdown-icon fe fe-log-out"></i> 切换账户
                    </a>
                  </div>
                </div>
              </div>
              <a
                class="header-toggler d-lg-none ml-3 ml-lg-0"
                data-target="#headerMenuCollapse"
                data-toggle="collapse"
                href="#"
              >
                <span class="header-toggler-icon"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg order-lg-first">
                <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                  <li class="nav-item pl-5">
                    <a class="nav-link" href="./home.html"
                      ><i class="fe fe-home"></i> 我的主页</a
                    >
                  </li>
                  <li class="nav-item pl-5">
                    <a class="nav-link" href="./course-home.html"
                      ><i class="fe fe-book"></i> 我的课程</a
                    >
                  </li>
                  <li class="nav-item pl-5">
                    <a class="nav-link" href="./seminar-home.html"
                      ><i class="fe fe-book-open"></i> 我的讨论课</a
                    >
                  </li>
                  <li class="nav-item pl-5">
                    <a class="nav-link" href="progress.html"
                      ><i class="fe fe-play-circle"></i> 正在进行中</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="my-3 my-md-5 mt-5">
          <div class="container">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                  我的消息
                </li>
              </ol>
            </nav>
            <div class="row row-cards row-deck">
              <div class="col-lg-4">
                <div class="card">
                  <div class="card-body d-flex flex-column">
                    <h4><a href="#">申请OOAD课程 组队</a></h4>
                    <div class="text-muted">
                      OOAD课程2016(1)班的林晓明同学，向您申请组队。
                    </div>
                    <div class="text-muted">原因：组员生病</div>
                    <div class="d-flex align-items-center pt-5 mt-auto">
                      <div class="avatar avatar-md mr-3">Lxm</div>
                      <div><a class="text-default">林晓明</a></div>

                      <div class="ml-auto text-muted">
                        <a
                          href="javascript:void(0)"
                          class="icon d-none d-md-inline-block ml-3"
                          onclick="updateSeminarShare(false)"
                          ><i class="fe fe-thumbs-down mr-1"></i
                        ></a>
                        <a
                          href="javascript:void(0)"
                          onclick="updateSeminarShare(true)"
                          class="icon d-none d-md-inline-block ml-3"
                          ><i class="fe fe-thumbs-up mr-1"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card">
                  <div class="card-body d-flex flex-column">
                    <h4><a href="#">共享OOAD课程 讨论课</a></h4>
                    <div class="text-muted">
                      邱明老师，向您发起共享OOAD课程讨论课的申请。
                    </div>
                    <div class="d-flex align-items-center pt-5 mt-auto">
                      <div class="avatar avatar-md mr-3">Qm</div>
                      <div><a class="text-default">邱明 老师</a></div>
                      <div class="ml-auto text-muted">
                        <a
                          href="javascript:void(0)"
                          class="icon d-none d-md-inline-block ml-3"
                          onclick="updateTeamValid(false)"
                          ><i class="fe fe-thumbs-down mr-1"></i
                        ></a>
                        <a
                          href="javascript:void(0)"
                          onclick="updateTeamValid(true)"
                          class="icon d-none d-md-inline-block ml-3"
                          ><i class="fe fe-thumbs-up mr-1"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card">
                  <div class="card-body d-flex flex-column">
                    <h4><a href="#">共享OOAD课程 组队</a></h4>
                    <div class="text-muted">
                      邱明老师，向您发起共享OOAD课程组队的申请。
                    </div>
                    <div class="d-flex align-items-center pt-5 mt-auto">
                      <div class="avatar avatar-md mr-3">Qm</div>
                      <div><a class="text-default">邱明 老师</a></div>
                      <div class="ml-auto text-muted">
                        <a
                          href="javascript:void(0)"
                          class="icon d-none d-md-inline-block ml-3"
                          onclick="updateTeamShare(false)"
                          ><i class="fe fe-thumbs-down mr-1"></i
                        ></a>
                        <a
                          href="javascript:void(0)"
                          onclick="updateTeamShare(true)"
                          class="icon d-none d-md-inline-block ml-3"
                          ><i class="fe fe-thumbs-up mr-1"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="row align-items-center flex-row-reverse">
            <div class="col-12 mt-0 mb-3 mt-lg-0 text-center">
              Copyright © 2018
              <a href="https://github.com/XMUOOADIntellij/CourseManageSystem"
                >Cms</a
              >.
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
  <script>
    $(".list-group").on("click", "*", function() {
      let cid = $(this)
        .closest(".card")
        .attr("id");
      setCookie("course", cid);
    });
  </script>
</html>
