<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../static/css/common/style.css"
    />
    <script src="../../static/js/teacher.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../static/css/student/seminar_info.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../static/css/student/seminar_PPT_download.css"
    />
  </head>
  <body>
    <div class="topBar">
      <div class="content-icon">
        <img alt="" class="icon" src="../../static/img/Left_white.png" />
      </div>
      <div class="content text text-light">OOAD-讨论课</div>
      <div class="content-icon">
        <img alt="" class="icon" src="../../static/img/Add_white.png" />
      </div>
    </div>

    <div class="row">
      <div class="serial">第一组:</div>
      <div class="file">1-1 业务流程分析.pptx</div>
    </div>

    <div class="row">
      <div class="serial">第二组:</div>
      <div class="file">1-2 业务流程分析.pptx</div>
    </div>

    <div class="row">
      <div class="serial">第三组:</div>
      <div class="file">1-3 业务流程分析.pptx</div>
    </div>

    <div class="row">
      <div class="serial">第四组:</div>
      <div class="file">1-4 业务流程分析.pptx</div>
    </div>

    <div class="row">
      <div class="serial">第五组:</div>
      <div class="file">1-5 业务流程分析.pptx</div>
    </div>

    <div class="row">
      <div class="serial">第六组:</div>
      <div class="file">1-6 业务流程分析.pptx</div>
    </div>
  </body>
</html>
