<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../static/css/common/style.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../static/css/student/seminar_info.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../static/css/student/check_Score.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../../static/css/student/mainPage.css"
    />
    <script src="../../static/js/jquery-1.10.2.js"></script>
    <script src="../../static/js/teacher.js"></script>
  </head>
  <body>
    <div class="topBar">
      <div class="content-icon">
        <img alt="" class="icon" src="../../static/img/Left_white.png" />
      </div>
      <div class="content text text-light">OOAD-讨论课</div>
      <div class="content-icon">
        <img alt="" class="icon" src="../../static/img/Add_white.png" />
      </div>
    </div>
    <div class="myMargin"></div>

    <div class="info">
      <div class="topic">
        <p class="tip">主题：</p>
        <p id="topic">领域模型</p>
      </div>

      <div class="serial">
        <p class="tip">课次序号：</p>
        <p id="serial">第1次</p>
      </div>

      <div class="requirement">
        <p class="tip">要求：</p>
        <p id="requirement">展示10分钟，问答5分钟，界面导航图，界面原型设计</p>
      </div>

      <div class="round">
        <p class="tip">轮次：</p>
        <p id="round">第二轮</p>
      </div>

      <div class="roll">
        <p class="tip">报名情况:</p>
        <p id="modify_roll">2016-(1)第3组</p>
        <p id="modify">修改</p>
      </div>

      <div class="PPT">
        <p class="PPT_tip">PPT:</p>
        <p id="PPT_status">已提交</p>
        <p id="PPT_ddl">距离截至时间0小时12分</p>
      </div>

      <div class="report">
        <p class="report_tip">报告:</p>
        <p id="report_status">未提交</p>
        <p id="report_ddl">距离截至时间13小时12分</p>
      </div>

      <button class="PPT_hand">PPT提交</button>
      <button class="report_hand">书面报告提交</button>
    </div>
  </body>
</html>
