<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../static/css/common/style.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../static/css/student/seminar_info.css"
    />
  </head>
  <body>
    <div class="topBar">
      <div class="content-icon">
        <img alt="" class="icon" src="../../static/img/Left_black.png" />
      </div>
      <div class="content text text-light">OOAD-讨论课</div>
      <div class="content-icon">
        <img alt="" class="icon" src="../../static/img/Add_white.png" />
      </div>
    </div>
    <div class="info">
      <div class="round">
        <p class="tip">轮次：</p>
        <p id="round">第二轮</p>
      </div>

      <div class="topic">
        <p class="tip">主题：</p>
        <p id="topic">领域模型</p>
      </div>

      <div class="serial">
        <p class="tip">课次序号：</p>
        <p id="serial">第1次</p>
      </div>

      <div class="requirement">
        <p class="tip">要求：</p>
        <p id="requirement">展示10分钟，问答5分钟，界面导航图，界面原型设计</p>
      </div>

      <div class="status">
        <p class="tip">课程情况</p>
        <p id="status">暂停</p>
        <button class="btn btn-big btn-green right">查看信息</button>
      </div>

      <button class="enter_seminar">继续讨论课</button>
    </div>
  </body>
</html>
