<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../static/css/common/style.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../static/css/teacher/account.css"
    />
    <script src="../../static/js/jquery-1.10.2.js"></script>
    <script src="../../static/js/js.cookie-2.2.0.min.js"></script>
    <script src="../../static/js/common.js"></script>
    <!--<script src="../../static/js/teacher.js"></script>-->
  </head>
  <body>
    <div class="topBar">
      <div class="content-icon" onclick="goBack()">
        <img alt="" class="icon" src="../../static/img/Left_white.png" />
      </div>
      <div class="content text text-light">修改密码</div>
    </div>
    <div class="tips">
      <span class="text text-large  text-bold">设置新的密码</span>
    </div>
    <div class="form">
      <div>
        <input
          class="input text text-small"
          type="text"
          placeholder="填写新的密码"
        />
        <span class="text text-smallest text-grey myMarginLeft"
          >密码长度8-32位，须包含数字、字母、符号至少2种</span
        >
      </div>
      <div class="myMargin"></div>
      <div>
        <input
          class="input text text-small"
          type="text"
          placeholder="再次输入以确认"
        />
      </div>
      <div class="myMargin"></div>
      <div>
        <input
          class="input text text-small"
          type="text"
          placeholder="输入验证码"
        />
        <span class="text text-smallest  text-red myMarginLeft"
          >发送验证码到邮箱：user@host.domainnames</span
        >
      </div>
    </div>
    <div class="btnContainer">
      <input class="btn btn-big btn-success" type="button" value="发送验证码" />
      <input
        class="btn btn-big btn-white right"
        type="button"
        value="确认提交"
      />
    </div>
  </body>
  <script>
    function goBack() {
      window.location.href = "4-0-1-accountSetting.html";
    }
    $("#btnSubmit").click(function() {
      window.location.href = "4-0-1-accountSetting.html";
      // putPassword();
    });
    function putPassword() {
      var Gender = $("input[type='radio']:checked").val();
      var ata = {
        name: $("#name").val(),
        gender: Gender,
        title: $("#title").val(),
        email: $("#email").val(),
        phone: $("#phone").val(),
        avatar: "/avatar/3486.png"
      };
      $.ajax({
        type: "put",
        url: "/me",
        dataType: "json",
        contentType: "application/json;",
        data: JSON.stringify(ata),
        success: function(data, status, xhr) {
          if (xhr.status == 204) {
            alert("成功!");
            window.location.href = "/student/profile";
          }
        },
        statusCode: {
          400: function() {
            alert("信息不合法");
          }
        }
      });
    }
  </script>
</html>
