<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../static/css/common/style.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../static/css/teacher/courseManagement.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../static/css/student/team_up.css"
    />

    <script src="../../static/js/jquery-1.10.2.js"></script>
  </head>
  <body>
    <div class="topBar">
      <div class="content-icon" id="back">
        <img alt="" class="icon" src="../../static/img/Left_white.png" />
      </div>
      <div class="content text text-light">学生组队</div>
      <div class="content-icon">
        <img alt="" class="icon" src="../../static/img/Add_white.png" />
      </div>
    </div>
    <div class="card">
      <div class="card-head">
        <div class="card-head-content">
          <span class="text-large text-light">1-1:</span>
          <span class="text-large text-light">TeamName</span>
        </div>
        <div class="content-icon">
          <img alt="" class="icon" src="../../static/img/Up_white.png" />
        </div>
      </div>
      <div class="card-head card-head-secondary textCenter">
        <div class="card-head-content">
          <span class="text">李刚</span>
          <span class="text-small text-left-margin">组长</span>
          <span class="text-small text-left-margin">24320162202800</span>
          <span class="text-small text-left-margin text-green">J2EE</span>
        </div>
      </div>
      <div class="card-head card-head-secondary textCenter">
        <div class="card-head-content">
          <span class="text">李刚</span>
          <span class="text-small text-left-margin">组员</span>
          <span class="text-small text-left-margin">24320162202800</span>
          <span class="text-small text-left-margin text-green">J2EE</span>
        </div>
      </div>
      <div class="card-head card-head-secondary textCenter">
        <div class="card-head-content">
          <span class="text">李刚</span>
          <span class="text-small text-left-margin">组员</span>
          <span class="text-small text-left-margin">24320162202800</span>
          <span class="text-small text-left-margin text-green">J2EE</span>
        </div>
      </div>
      <div class="card-head card-head-secondary textCenter">
        <div class="card-head-content ">
          <span class="text">李刚</span>
          <span class="text-small text-left-margin">组员</span>
          <span class="text-small text-left-margin">24320162202800</span>
          <span class="text-small text-left-margin text-green">J2EE</span>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-head">
        <div class="card-head-content">
          <span class="text-large text-light">1-2:</span>
          <span class="text-large text-light">TeamName</span>
        </div>
        <div class="content-icon">
          <img alt="" class="icon" src="../../static/img/Down_white.png" />
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-head">
        <div class="card-head-content">
          <span class="text-large text-light">未组队学生</span>
          <span class="text-large text-light">TeamName</span>
        </div>
        <div class="content-icon">
          <img alt="" class="icon" src="../../static/img/Down_white.png" />
        </div>
      </div>
    </div>

    <div class="form_up_team">
      <div class="content-icon">
        <img alt="" class="icon" src="../../static/img/Add_white.png" />
      </div>
      <div class="content text text-light">创建小组</div>
      <div class="content-icon">
        <img alt="" class="icon" src="../../static/img/Right_white.png" />
      </div>
    </div>
  </body>

  <script>
    $("#back").click(function() {
      window.location.href = "4-2-0-courseManage.html"; //test
    });
  </script>
</html>
