<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
      name="viewport"
    />
    <meta content="ie=edge" http-equiv="X-UA-Compatible" />
    <meta content="en" http-equiv="Content-Language" />
    <meta content="#2d89ef" name="msapplication-TileColor" />
    <meta content="#4188c9" name="theme-color" />
    <meta
      content="black-translucent"
      name="apple-mobile-web-app-status-bar-style"
    />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="mobile-web-app-capable" />
    <meta content="True" name="HandheldFriendly" />
    <meta content="320" name="MobileOptimized" />
    <link href="./favicon.ico" rel="icon" type="image/x-icon" />
    <link href="./favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!-- Generated: 2018-04-16 09:29:05 +0200 -->
    <title>登录</title>
    <!-- Font -->
    <link href="../static/css/fontawesome.min.css" rel="stylesheet" />
    <!--Dashboard Core-->
    <link href="../static/css/dashboard.css" rel="stylesheet" />
    <link href="../static/css/tabler.css" rel="stylesheet" />
    <script src="../static/js/vendors/jquery-3.2.1.min.js"></script>
    <script src="../static/js/core.js"></script>
    <!-- Customize -->
    <link href="../static/css/style.css" rel="stylesheet" />
    <script src="../static/js/control.js"></script>
    <script src="../static/js/convert.js"></script>
    <script src="../static/js/request.js"></script>
    <script src="../static/js/jwt.js"></script>
  </head>
  <body>
    <div class="page">
      <main class="main">
        <section class="welcome" aria-label="Page header">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-12 text-center welcome-bg ">
                <h1>XClass</h1>
                <p class="welcome-description">欢迎使用 "Xmu课程管理系统"</p>

                <div class="mt-5">
                  <a href="common/login.html" class="btn btn-lg btn-green"
                    >开始使用</a
                  >
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
