<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../static/css/common/style.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../static/css/teacher/createCourse.css"
    />
    <script src="../../static/js/jquery-1.10.2.js"></script>
    <script src="../../static/js/js.cookie-2.2.0.min.js"></script>
    <script src="../../static/js/common.js"></script>
    <!--<script src="../../static/js/teacher.js"></script>-->
  </head>
  <body>
    <div class="topBar">
      <div class="content-icon">
        <img
          alt=""
          class="icon"
          src="../../static/img/Close_white.png"
          onclick="onClose()"
        />
      </div>
      <div class="content text text-light">新建课程</div>
    </div>
    <div class="separator-blank"></div>
    <div class="form">
      <div>
        <span class="text text-small text-bold myMarginLeft">名称</span>
        <div class="myMargin"></div>
        <input
          class="input text-smaller text-grey"
          id="coursename"
          type="text"
          placeholder="填写课程名称"
        />
      </div>
    </div>
    <div class="separator-blank">
      <div class="form">
        <div>
          <span class="text text-small text-bold myMarginLeft">课程简介</span>
          <div class="myMargin"></div>
          <textarea
            class="inputs text-smaller text-grey"
            rows="3"
            cols="20"
            placeholder="填写课程简介"
          ></textarea>
        </div>
      </div>
      <div class="form">
        <div>
          <span class="text text-small text-bold myMarginLeft"
            >成绩计算规则</span
          >
          <div class="myMargin"></div>
        </div>
        <div class="dialog-row">
          <span class="text-smaller">课堂展示：</span>
          <select class="selector">
            <option>25%</option>
            <option>50%</option>
            <option>75%</option>
            <option>100%</option>
          </select>
        </div>
        <div class="dialog-row">
          <span class="text-smaller">课堂提问：</span>
          <select class="selector">
            <option>10%</option>
            <option>20%</option>
            <option>30%</option>
            <option>40%</option>
          </select>
        </div>
        <div class="dialog-row">
          <span class="text-smaller">书面报告：</span>
          <select class="selector">
            <option>10%</option>
            <option>20%</option>
            <option>30%</option>
            <option>40%</option>
          </select>
        </div>
      </div>
      <div class="form">
        <div>
          <span class="text text-small text-bold myMarginLeft"
            >设置分组规则</span
          >
          <div class="myMargin"></div>
        </div>
        <div class="dialog-row">
          <span class="text-smaller">最少人数：</span>
          <select class="selector">
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </div>
        <div class="dialog-row">
          <span class="text-smaller">最多人数：</span>
          <select class="selector">
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
      <div class="form">
        <div>
          <span class="text text-small text-bold myMarginLeft">学生名单</span>
          <div class="myMargin"></div>
          <span class="text text-smaller myMarginLeft">上传文件</span
          ><input class="inputfile" type="file" id="classfile" />
        </div>
      </div>
      <div class="form">
        <div>
          <span class="text text-small text-bold myMarginLeft">分组时间</span>
          <div class="myMargin"></div>
        </div>
        <div class="dialog-row">
          <span class="text-smaller">组队开始时间：</span>
          <input
            class="dateSelector text text-smallest textRight"
            type="date"
            value="2018-09-01"
          />
        </div>
        <div class="dialog-row">
          <span class="text-smaller">组队结束时间：</span>
          <input
            class="dateSelector text text-smallest textRight "
            type="date"
            value="2018-09-01"
          />
        </div>
      </div>
      <div class="form">
        <div class="myBigMargin">
          <input
            class="btn btn-giant btn-success "
            type="button"
            id="btnSubmit"
            value="提交"
          />
        </div>
      </div>
    </div>
  </body>
  <script>
    function createCourse() {
      var ata = {
        grade: $("#classgrade").val(),
        name: $("#classname").val(),
        site: $("#classsite").val(),
        time: $("#classtime").val(),
        file: $("#classfile").val()
      };
      // alert("55");
      $.ajax({
        type: "post",
        url: "/course/" + getCookie("courseDetail") + "/class",
        // url: '/course/'+getcoursedetail()+'/class',
        dataType: "json",
        contentType: "application/json;",
        data: JSON.stringify(ata),
        success: function(data, textStatus, xhr) {
          if (xhr.status == 201) {
            alert("创建成功!");
            backtocourse(); //返回显示课程下的班级列表/讨论课列表
          }
        },
        statusCode: {
          403: function() {
            alert("用户权限不足");
          },
          404: function() {
            alert("未找到课程");
          }
        }
      });
    }
    $("#btnSubmit").click(function() {
      window.location.href = "4-2-0-courseManage.html";
      // createCourse();
    });
    function onClose() {
      window.location.href = "4-2-0-courseManage.html";
    }
  </script>
</html>
