<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../../static/css/common/style.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../../static/css/teacher/seminarRound.css"/>
<script src="../../static/js/jquery-1.10.2.js"></script>
   <script src="../../static/js/js.cookie-2.2.0.min.js"></script>
   <script src="../../static/js/common.js"></script></head>
    <script src="../../static/js/common.js"></script>
<!--<script src="../../static/js/teacher.js"></script>-->
</head>
<!--<body onload="return getRoundInfo();">-->
<body>
<div class="topBar">
    <div class="content-icon" onclick="goBack()">
        <img alt="" class="icon" src="../../static/img/Left_white.png"/>
    </div>
    <div class="content text text-light">讨论课轮次</div>
    <div class="content-icon" id="myReturn">
        <img alt="" class="icon" src="../../static/img/Add_white.png"/>
    </div>
</div>
<div class="card">
    <div class="card-head">
        <span class="card-head-content text text-light">第1轮</span>
       <div class="content-icon right">
            <img alt="" class="icon" src="../../static/img/Right_white.png"/>
        </div>
    </div>
    <div class="panel" id="seminar1">
        <div>
            <div class="card-head card-head-secondary card-set">
				<span class="card-head-content text text-light">
				<span>当前轮次设置</span>
				</span>
               <div class="content-icon right">
                    <img alt="" class="icon" src="../../static/img/Setting_white.png"/>
                </div>
            </div>
        </div>
        <div class="myMargin"></div>
        <div>
            <div class="card-head card-head-secondary">
				<span class="card-head-content text text-light">
				<span>业务流程分析</span>
				</span>
               <div class="content-icon right">
                    <img alt="" class="icon" src="../../static/img/Right_white.png"/>
                </div>
            </div>
            <div class="panel">
                <div>
                    <div class="card-head card-head-tertiary">
				<span class="card-head-content text text-light">
				<span>2016-(1)</span>
				</span>
                       <div class="content-icon right">
                            <img alt="" class="icon" src="../../static/img/Right_white.png"/>
                        </div>
                    </div>
                </div>
                <div class="myMargin"></div>
                <div>
                    <div class="card-head card-head-tertiary">
				<span class="card-head-content text text-light">
				<span>2016-(2)</span>
				</span>
                       <div class="content-icon right">
                            <img alt="" class="icon" src="../../static/img/Right_white.png"/>
                        </div>
                    </div>
                </div>
                <div class="myMargin"></div>
                <div>
                    <div class="card-head card-head-tertiary">
				<span class="card-head-content text text-light">
				<span>2016-(3)</span>
				</span>
                       <div class="content-icon right">
                            <img alt="" class="icon" src="../../static/img/Right_white.png"/>
                        </div>
                    </div>
                </div>
                <div class="myMargin"></div>

            </div>
        </div>
        <div class="myMargin"></div>
        <div>
            <div class="card-head card-head-secondary">
				<span class="card-head-content text text-light">
				<span>业务流程分析</span>
				</span>
               <div class="content-icon right">
                    <img alt="" class="icon" src="../../static/img/Right_white.png"/>
                </div>
            </div>
            <div class="panel">
                <div>
                    <div class="card-head card-head-tertiary">
				<span class="card-head-content text text-light">
				<span>2016-(1)</span>
				</span>
                       <div class="content-icon right">
                            <img alt="" class="icon" src="../../static/img/Right_white.png"/>
                        </div>
                    </div>
                </div>
                <div class="myMargin"></div>
                <div>
                    <div class="card-head card-head-tertiary">
				<span class="card-head-content text text-light">
				<span>2016-(2)</span>
				</span>
                       <div class="content-icon right">
                            <img alt="" class="icon" src="../../static/img/Right_white.png"/>
                        </div>
                    </div>
                </div>
                <div class="myMargin"></div>
                <div>
                    <div class="card-head card-head-tertiary">
				<span class="card-head-content text text-light">
				<span>2016-(3)</span>
				</span>
                       <div class="content-icon right">
                            <img alt="" class="icon" src="../../static/img/Right_white.png"/>
                        </div>
                    </div>
                </div>
                <div class="myMargin"></div>

            </div>

        </div>
    </div>
    <div class="separator-blank"></div>
    <div class="card-head">
        <span class="card-head-content text text-light">第2轮</span>
       <div class="content-icon right">
            <img alt="" class="icon" src="../../static/img/Right_white.png"/>
        </div>
    </div>
    <div class="panel" id="seminar2">
        <div>
            <div class="card-head card-head-secondary">
				<span class="card-head-content text text-light">
				<span>当前轮次设置</span>
				</span>
               <div class="content-icon right">
                    <img alt="" class="icon" src="../../static/img/Setting_white.png"/>
                </div>
            </div>
        </div>
        <div class="myMargin"></div>
        <div>
            <div class="card-head card-head-secondary">
				<span class="card-head-content text text-light">
				<span>业务流程分析</span>
				</span>
               <div class="content-icon right">
                    <img alt="" class="icon" src="../../static/img/Right_white.png"/>
                </div>
            </div>
            <div class="panel">
                <div>
                    <div class="card-head card-head-tertiary">
				<span class="card-head-content text text-light">
				<span>2016-(1)</span>
				</span>
                       <div class="content-icon right">
                            <img alt="" class="icon" src="../../static/img/Right_white.png"/>
                        </div>
                    </div>
                </div>
                <div class="myMargin"></div>
                <div>
                    <div class="card-head card-head-tertiary">
				<span class="card-head-content text text-light">
				<span>2016-(2)</span>
				</span>
                       <div class="content-icon right">
                            <img alt="" class="icon" src="../../static/img/Right_white.png"/>
                        </div>
                    </div>
                </div>
                <div class="myMargin"></div>
                <div>
                    <div class="card-head card-head-tertiary">
				<span class="card-head-content text text-light">
				<span>2016-(3)</span>
				</span>
                       <div class="content-icon right">
                            <img alt="" class="icon" src="../../static/img/Right_white.png"/>
                        </div>
                    </div>
                </div>
                <div class="myMargin"></div>

            </div>
        </div>
        <div class="myMargin"></div>
        <div>
            <div class="card-head card-head-secondary">
				<span class="card-head-content text text-light">
				<span>业务流程分析</span>
				</span>
               <div class="content-icon right">
                    <img alt="" class="icon" src="../../static/img/Right_white.png"/>
                </div>
            </div>
            <div class="panel">
                <div>
                    <div class="card-head card-head-tertiary">
				<span class="card-head-content text text-light">
				<span>2016-(1)</span>
				</span>
                       <div class="content-icon right">
                            <img alt="" class="icon" src="../../static/img/Right_white.png"/>
                        </div>
                    </div>
                </div>
                <div class="myMargin"></div>
                <div>
                    <div class="card-head card-head-tertiary">
				<span class="card-head-content text text-light">
				<span>2016-(2)</span>
				</span>
                       <div class="content-icon right">
                            <img alt="" class="icon" src="../../static/img/Right_white.png"/>
                        </div>
                    </div>
                </div>
                <div class="myMargin"></div>
                <div>
                    <div class="card-head card-head-tertiary">
				<span class="card-head-content text text-light">
				<span>2016-(3)</span>
				</span>
                       <div class="content-icon right">
                            <img alt="" class="icon" src="../../static/img/Right_white.png"/>
                        </div>
                    </div>
                </div>
                <div class="myMargin"></div>

            </div>

        </div>
    </div>
    <div class="separator-blank"></div>
</div>
<div class="card" onclick="onAddRound()">
    <div class="card-head">
       <div class="content-icon right">
            <img alt="" class="icon" src="../../static/img/Add_white.png"/></div>
        <span class="card-head-content text-large text-light">新建轮次</span>
    </div>
</div>
<div class="myMargin"></div>
<div class="card" onclick="onAddSeminar()">
    <div class="card-head">
       <div class="content-icon right">
            <img alt="" class="icon" src="../../static/img/Add_white.png"/></div>
        <span class="card-head-content text-large text-light">新建讨论课</span>
    </div>
</div>
<div class="myMargin"></div>
</body>
<script>
	const acc = document.getElementsByClassName("card-head card-head-secondary");
	for (let i = 0; i < acc.length; i++) {
		acc[i].addEventListener("click", function() {
			this.classList.toggle("active");
			let panel = this.nextSibling;
			if (panel.style.display === "block") {
				panel.style.display = "none";
				$(this).find('.content-icon').children('img').attr('src', '../../static/img/Right_white.png')
			} else {
				panel.style.display = "block";
				$(this).find('.content-icon').children('img').attr('src', '../../static/img/Up_white.png')
			}
		})
	}
	const acctop = document.getElementsByClassName("card-head");
	for (let i = 0; i < acctop.length; i++) {
		acctop[i].addEventListener("click", function() {
			this.classList.toggle("active");
			let panel = this.nextElementSibling;
			if (panel.style.display === "block") {
				panel.style.display = "none";
				$(this).find('.content-icon').children('img').attr('src', '../../static/img/Right_white.png')
			} else {
				panel.style.display = "block";
				$(this).find('.content-icon').children('img').attr('src', '../../static/img/Up_white.png')
			}
		})
	}
    function goBack() {
        window.location.href = "4-2-0-courseManage.html"
    }
    function onAddSeminar() {
        window.location.href = "4-2-5-1-createClass.html";
    }
    function onAddRound() {
        window.location.href = "4-2-5-1-createClass.html";
    }

    function getRoundInfo() {
        $.ajax({
            type: 'get',
            url: '',
            dataType: "json",
            contentType: "application/json;",
            success: function(data, textStatus, xhr) {
                if (xhr.status === 200) {
                    let middlecontent;
                    let bottomcontent;
                    const topcontent = document.getElementsByClassName("card");
                    const bodycontent = document.getElementsByClassName("body");
                    let strVar = "";
                    let roundNumber = 0;
                    let seminarNumber = 0;
                    for (let i = 0; i < data.length; i++) {
                        if (roundNumber===0||data[i].round !== roundNumber) {
                            roundNumber = data[i].round;
                            strVar =
                                "<div class=\"card-head\"><span class=\"card-head-content text text-light\">第"+data[i].round+"轮<\/span><div class=\"content-icon\"><img alt=\"\" class=\"icon\" src=\"../../static/img/Right_white.png\"><\/div><\/div><div class=\"panel\" id=\"round"+data[i].round+"\">";
                            if(data[i].status==="main")
                                strVar+= "<div><div class=\"card-head card-head-secondary\"><span class=\"card-head-content text text-light\"><span>当前轮次设置<\/span><\/span><div class=\"content-icon\"><img alt=\"\" class=\"icon\" src=\"../../static/img/Setting_white.png\"><\/div><\/div><\/div><\/div><div class=\"separator-blank\"><\/div></div>";
                            else
                                strVar+= "<\/div><div class=\"separator-blank\"><\/div>";
                            topcontent.insertAdjacentHTML('beforeend', strVar);
                            middlecontent = document.getElementById("round" + data[i].round);
                            i--;
                        } else {
                            if (data[i].seminarid !== seminarNumber) {
                                seminarNumber = data[i].seminarid;
                                strVar="";
                                if(middlecontent.innerHTML!=="")
                                    strVar = "<div class=\"myMargin\"><\/div>"
                                strVar+="<div><div class=\"card-head card-head-secondary\"><span class=\"card-head-content text text-light\"><span>"+data[i].seminarname+"<\/span><\/span><div class=\"content-icon\"><img alt=\"\" class=\"icon\" src=\"../../static/img/Right_white.png\"><\/div><\/div><div class=\"panel\" id=\"seminar"+data[i].seminarid+"\"><\/div><\/div>";
                                middlecontent.insertAdjacentHTML('beforeend', strVar);
                                bottomcontent = document.getElementById("seminar" + data[i].seminarid);
                                i--;
                            } else {
                                strVar = "<div><div class=\"card-head card-head-tertiary\"><span class=\"card-head-content text text-light\"><span>"+data[i].classname+"<\/span><\/span><div class=\"content-icon\"><img alt=\"\" class=\"icon\" src=\"../../static/img/Right_white.png\"><\/div><\/div><\/div><div class=\"myMargin\"><\/div>";
                                bottomcontent.insertAdjacentHTML('beforeend', strVar);
                            }
                        }
                    }
                    strVar =
                        "<div class=\"card\" onclick=\"onAddRound()\"><div class=\"card-head\"><div class=\"content-icon\"><img alt=\"\" class=\"icon\" src=\"../../static/img/Add_white.png\"><\/div><span class=\"card-head-content text-large text-light\">新建轮次<\/span><\/div><\/div><div class=\"myMargin\"><\/div><div class=\"card\" onclick=\"onAddSeminar()\"><div class=\"card-head\"><div class=\"content-icon\"><img alt=\"\" class=\"icon\" src=\"../../static/img/Add_white.png\"><\/div><span class=\"card-head-content text-large text-light\">新建讨论课<\/span><\/div><\/div><div class=\"myMargin\"><\/div>";
                    topcontent.insertAdjacentHTML('beforeend', strVar);
                }
            },
            statusCode: {
                401: function() {
                    alert("获取信息失败")
                }
            }
        })
    }
</script>
</html>