body {
    font-family: Helvetica, Tahoma, Arial, STXihei,  "Microsoft YaHei", "微软雅黑","华文细黑", SimSun, "宋体", Heiti, "黑体", sans-serif
    }

.form-label {
    display: block;
    margin-bottom: .375rem;
    font-weight: 400;
    font-size: 0.9375rem;
}
.btn {
    cursor: pointer;
    font-weight: 400;
    font-size: 0.9375rem;
    min-width: 2.375rem;
}
li.nav-item{

    }
.footer {
    background: transparent;
    border-top: 0px solid rgba(0, 40, 100, 0.12);
    font-size: 0.875rem;
    padding: 0.5rem 0;
    color: #9aa0ac;
    }