<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.group12.course.mapper.AttendanceMapper" >

  <resultMap id="BaseResultMap" type="attendance" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="team_order" property="teamOrder" jdbcType="TINYINT" />
    <result column="is_present" property="presented" jdbcType="TINYINT" />
    <result column="report_name" property="reportName" jdbcType="VARCHAR" />
    <result column="report_url" property="reportUrl" jdbcType="VARCHAR" />
    <result column="ppt_name" property="pptName" jdbcType="VARCHAR" />
    <result column="ppt_url" property="pptUrl" jdbcType="VARCHAR" />
    <association property="klassSeminar" select="com.group12.course.mapper.KlassSeminarMapper.selectKlassSeminarById"
                   column="klass_seminar_id" javaType="klassSeminar"/>
    <association property="team" select="com.group12.course.mapper.TeamMapper.selectTeamById"
                   column="team_id" javaType="com.group12.course.entity.Team"/>
  </resultMap>

  <sql id="Base_Column_List" >
    id, klass_seminar_id, team_id, team_order, is_present, report_name, report_url, ppt_name,
    ppt_url
  </sql>

  <!--查询某班级讨论课所有展示-->
  <select id="selectAttendanceByKlassSeminarId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from attendance
    where klass_seminar_id = #{klassSeminarId,jdbcType=BIGINT}
  </select>

  <!--查询某班级讨论课某小组报名的展示-->
  <select id="selectAttendanceByKlassSeminarIdAndTeamId" resultMap="BaseResultMap">
    select
     <include refid="Base_Column_List" />
    from attendance
    where klass_seminar_id = #{klassSeminarId,jdbcType=BIGINT}
    and   team_id = #{teamId,jdbcType=BIGINT}
  </select>

  <select id="selectAttendanceById" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from attendance
    where id = #{id,jdbcType=BIGINT}
  </select>


  <delete id="deleteAttendanceById" parameterType="java.lang.Long" >
    delete from attendance
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <delete id="deleteAttendanceByKlassSeminarId" parameterType="java.lang.Long" >
    delete from attendance
    where klass_seminar_id = #{klassSeminarId,jdbcType=BIGINT}
  </delete>

  <insert id="insertAttendance" parameterType="com.group12.course.entity.Attendance" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into attendance
    <trim prefix="(" suffix=")" suffixOverrides="," >
        klass_seminar_id,
        team_id,
        team_order,
        is_present,
      <if test="reportName != null" >
        report_name,
      </if>
      <if test="reportUrl != null" >
        report_url,
      </if>
      <if test="pptName != null" >
        ppt_name,
      </if>
      <if test="pptUrl != null" >
        ppt_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        #{klassSeminar.id,jdbcType=BIGINT},
        #{team.id,jdbcType=BIGINT},
        #{teamOrder,jdbcType=TINYINT},
        #{presented,jdbcType=TINYINT},
      <if test="reportName != null" >
        #{reportName,jdbcType=VARCHAR},
      </if>
      <if test="reportUrl != null" >
        #{reportUrl,jdbcType=VARCHAR},
      </if>
      <if test="pptName != null" >
        #{pptName,jdbcType=VARCHAR},
      </if>
      <if test="pptUrl != null" >
        #{pptUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateAttendance" parameterType="com.group12.course.entity.Attendance" >
    update attendance
    <set >
      <if test="teamOrder != null" >
        team_order = #{teamOrder,jdbcType=TINYINT},
      </if>
      <if test="presented != null" >
        is_present = #{presented,jdbcType=TINYINT},
      </if>
      <if test="reportName != null" >
        report_name = #{reportName,jdbcType=VARCHAR},
      </if>
      <if test="reportUrl != null" >
        report_url = #{reportUrl,jdbcType=VARCHAR},
      </if>
      <if test="pptName != null" >
        ppt_name = #{pptName,jdbcType=VARCHAR},
      </if>
      <if test="pptUrl != null" >
        ppt_url = #{pptUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>


</mapper>