<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.group12.course.mapper.ConflictCourseStrategyMapper" >
    <resultMap id="BaseResultMap" type="com.group12.course.entity.strategy.ConflictCourseStrategy" >
        <id column="id" property="id" jdbcType="BIGINT" />

        <association property="courseFirst" select="com.group12.course.mapper.CourseMapper.selectCourseById"
                     column="course_1_id" javaType="com.group12.course.entity.Course"/>

        <association property="courseSecond" select="com.group12.course.mapper.CourseMapper.selectCourseById"
                     column="course_2_id" javaType="com.group12.course.entity.Course"/>

    </resultMap>
    <sql id="Base_Column_List" >
    id, course_1_id,course_2_id
  </sql>

    <select id="selectConflictCourseStrategyById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from conflict_course_strategy
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteConflictCourseStrategy" parameterType="java.lang.Long" >
    delete from conflict_course_strategy
    where id = #{id,jdbcType=BIGINT}
  </delete>

    <insert id="addConflictCourseStrategy" useGeneratedKeys="true" keyProperty="conflictCourseStrategy.id" >
        insert into conflict_course_strategy
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="courseFirst != null" >
                course_1_id,
            </if>
            <if test="courseSecond != null" >
                course_2_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="courseFirst != null" >
                #{courseFirst.id,jdbcType=BIGINT},
            </if>
            <if test="courseSecond != null" >
                #{courseSecond.id,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>

    <update id="updateConflictCourseStrategy" parameterType="com.group12.course.entity.strategy.ConflictCourseStrategy" >
        update conflict_course_strategy
        <set >
            <if test="courseFirst != null" >
                course_1_id = #{courseFirst.id,jdbcType=BIGINT},
            </if>
            <if test="courseSecond != null" >
                course_1_id = #{courseSecond.id,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

</mapper>