<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.group12.course.mapper.CourseMapper" >

  <resultMap id="BaseResultMap" type="com.group12.course.entity.Course" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="course_name" property="courseName" jdbcType="VARCHAR" />
    <result column="introduction" property="introduction" jdbcType="VARCHAR" />
    <result column="presentation_percentage" property="presentationPercentage" jdbcType="BIT" />
    <result column="question_percentage" property="questionPercentage" jdbcType="BIT" />
    <result column="report_percentage" property="reportPercentage" jdbcType="BIT" />
    <result column="team_start_time" property="teamStartTime" jdbcType="TIMESTAMP" />
    <result column="team_end_time" property="teamEndTime" jdbcType="TIMESTAMP" />

    <association property="teamMainCourse" select="com.group12.course.mapper.CourseMapper.selectCourseById"
                 column="team_main_course_id" javaType="com.group12.course.entity.Course"/>

    <association property="seminarMainCourse" select="com.group12.course.mapper.CourseMapper.selectCourseById"
                 column="seminar_main_course_id" javaType="com.group12.course.entity.Course"/>

    <association property="teacher" select="com.group12.course.mapper.TeacherMapper.selectTeacherById"
                 column="teacher_id" javaType="com.group12.course.entity.Teacher"/>

  </resultMap>

  <cache type="com.group12.course.tools.MybatisRedisCache" />

  <sql id="Base_Column_List" >
    id, teacher_id, course_name, introduction, presentation_percentage, question_percentage,
    report_percentage, team_start_time, team_end_time,team_main_course_id,seminar_main_course_id
  </sql>

  <sql id="Klass_Student_Column_List">
    klass_id,student_id,course_id,team_id
  </sql>


  <select id="selectCourseById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from course
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectAllCourse" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from course
  </select>

  <delete id="deleteCourse" parameterType="java.lang.Long" >
    delete from course
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="addCourse" useGeneratedKeys="true" keyProperty="record.id" >
    insert into course
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="teacherId != null" >
        teacher_id,
      </if>
      <if test="record.courseName != null" >
        course_name,
      </if>
      <if test="record.introduction != null" >
        introduction,
      </if>
      <if test="record.presentationPercentage != null" >
        presentation_percentage,
      </if>
      <if test="record.questionPercentage != null" >
        question_percentage,
      </if>
      <if test="record.reportPercentage != null" >
        report_percentage,
      </if>
      <if test="record.teamStartTime != null" >
        team_start_time,
      </if>
      <if test="record.teamEndTime != null" >
        team_end_time,
      </if>
      <if test="record.teamMainCourse!=null">
        team_main_course_id,
      </if>
      <if test="record.seminarMainCourse!=null">
        seminar_main_course_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="teacherId != null" >
        #{teacherId,jdbcType=BIGINT},
      </if>
      <if test="record.courseName != null" >
        #{record.courseName,jdbcType=VARCHAR},
      </if>
      <if test="record.introduction != null" >
        #{record.introduction,jdbcType=VARCHAR},
      </if>
      <if test="record.presentationPercentage != null" >
        #{record.presentationPercentage,jdbcType=BIT},
      </if>
      <if test="record.questionPercentage != null" >
        #{record.questionPercentage,jdbcType=BIT},
      </if>
      <if test="record.reportPercentage != null" >
        #{record.reportPercentage,jdbcType=BIT},
      </if>
      <if test="record.teamStartTime != null" >
        #{record.teamStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.teamEndTime != null" >
        #{record.teamEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.teamMainCourse!=null">
        #{record.teamMainCourse.id,jdbcType=BIGINT}
      </if>
      <if test="record.seminarMainCourse!=null">
        #{record.seminarMainCourse.id,jdbcType=BIGINT}
      </if>
    </trim>
  </insert>

  <update id="updateCourse" parameterType="com.group12.course.entity.Course" >
    update course
    <set >
      <if test="teacher != null" >
        teacher_id = #{teacher.id,jdbcType=BIGINT},
      </if>
      <if test="courseName != null" >
        course_name = #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="presentationPercentage != null" >
        presentation_percentage = #{presentationPercentage,jdbcType=BIT},
      </if>
      <if test="questionPercentage != null" >
        question_percentage = #{questionPercentage,jdbcType=BIT},
      </if>
      <if test="reportPercentage != null" >
        report_percentage = #{reportPercentage,jdbcType=BIT},
      </if>
      <if test="teamStartTime != null" >
        team_start_time = #{teamStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="teamEndTime != null" >
        team_end_time = #{teamEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="teamMainCourse != null">
        team_main_course_id = #{teamMainCourse.id,jdbcType=BIGINT}
      </if>
      <if test="seminarMainCourse != null">
        seminar_main_course_id = #{seminarMainCourse.id,jdbcType=BIGINT}
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectCourseByTeacherId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from course
    where teacher_id = #{teacherId,jdbcType=BIGINT}
  </select>

  <select id="selectSubCourseByTeamMainCourseId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from course
    where team_main_course_id = #{teamMainCourseId,jdbcType=BIGINT}
  </select>

  <select id="selectSubCourseBySeminarMainCourseId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from course
    where seminar_main_course_id = #{seminarMainCourseId,jdbcType=BIGINT}
  </select>

</mapper>