<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.group12.course.mapper.KlassSeminarMapper" >

  <resultMap id="BaseResultMap" type="com.group12.course.entity.KlassSeminar" >
    <id column="id" property="id" jdbcType="BIGINT" />

    <result column="report_ddl" property="reportDdl" jdbcType="TIMESTAMP" />
    <result column="seminar_status" property="seminarStatus" jdbcType="VARCHAR" />

    <association property="seminar" column="seminar_id"
                 select="com.group12.course.mapper.SeminarMapper.selectSeminarById"
                 javaType="seminar"/>

    <association property="klass" column="klass_id"
                 select="com.group12.course.mapper.KlassMapper.selectKlassById"
                 javaType="com.group12.course.entity.Klass"/>
  </resultMap>

  <sql id="Base_Column_List" >
    id, seminar_id, klass_id ,report_ddl, seminar_status
  </sql>

  <select id="selectKlassSeminarById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from klass_seminar
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectKlassSeminar" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from klass_seminar
    where klass_id = #{classId,jdbcType=BIGINT}
    and   seminar_id = #{seminarId,jdbcType=BIGINT}
  </select>

  <delete id="delete" parameterType="java.lang.Long" >
    delete from klass_seminar
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.group12.course.entity.KlassSeminar" >
    insert into klass_seminar
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="klassId != null" >
        klass_id,
      </if>
      <if test="seminarId != null" >
        seminar_id,
      </if>
      <if test="reportDdl != null" >
        report_ddl,
      </if>
      <if test="seminarStatus != null" >
        seminar_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="klassId != null" >
        #{klassId,jdbcType=BIGINT},
      </if>
      <if test="seminarId != null" >
        #{seminarId,jdbcType=BIGINT},
      </if>
      <if test="reportDdl != null" >
        #{reportDdl,jdbcType=TIMESTAMP},
      </if>
      <if test="seminarStatus != null" >
        #{seminarStatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="update" parameterType="com.group12.course.entity.KlassSeminar" >
    update klass_seminar
    <set >
      <if test="klassId != null" >
        klass_id = #{klassId,jdbcType=BIGINT},
      </if>
      <if test="seminarId != null" >
        seminar_id = #{seminarId,jdbcType=BIGINT},
      </if>
      <if test="reportDdl != null" >
        report_ddl = #{reportDdl,jdbcType=TIMESTAMP},
      </if>
      <if test="seminarStatus != null" >
        seminar_status = #{seminarStatus,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>