<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.group12.course.mapper.KlassMapper" >
  <resultMap id="BaseResultMap" type="com.group12.course.entity.Klass" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="grade" property="grade" jdbcType="TINYINT" />
    <result column="klass_serial" property="klassSerial" jdbcType="TINYINT" />
    <result column="klass_time" property="klassTime" jdbcType="VARCHAR" />
    <result column="klass_location" property="klassLocation" jdbcType="VARCHAR" />

    <association property="course" select="com.group12.course.mapper.CourseMapper.selectCourseById"
                 column="course_id" javaType="com.group12.course.entity.Course"/>

  </resultMap>
  <sql id="Base_Column_List" >
    id, course_id, grade, klass_serial, klass_time, klass_location
  </sql>

  <select id="selectKlassById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from klass
    where id = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteKlass" parameterType="java.lang.Long" >
    delete from klass
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="addKlass" useGeneratedKeys="true" keyProperty="klass.id" parameterType="com.group12.course.entity.Klass" >
    insert into klass
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="courseId != null" >
        course_id,
      </if>
      <if test="grade != null" >
        grade,
      </if>
      <if test="klassSerial != null" >
        klass_serial,
      </if>
      <if test="klassTime != null" >
        klass_time,
      </if>
      <if test="klassLocation != null" >
        klass_location,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="courseId != null" >
        #{courseId,jdbcType=BIGINT},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=TINYINT},
      </if>
      <if test="klassSerial != null" >
        #{klassSerial,jdbcType=TINYINT},
      </if>
      <if test="klassTime != null" >
        #{klass_time,jdbcType=VARCHAR},
      </if>
      <if test="klassLocation != null" >
        #{klass_Location,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateKlass" parameterType="com.group12.course.entity.Klass" >
    update klass
    <set >
      <if test="courseId != null" >
        course_id = #{courseId,jdbcType=BIGINT},
      </if>
      <if test="grade != null" >
        grade = #{grade,jdbcType=TINYINT},
      </if>
      <if test="klassSerial != null" >
        klass_serial = #{klassSerial,jdbcType=TINYINT},
      </if>
      <if test="klassTime != null" >
        klass_time = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="klassLocation != null" >
        klass_location = #{introduction,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="getAllKlassByCourseId" resultMap="BaseResultMap" parameterType="java.lang.Long">
    select
    <include refid="Base_Column_List" />
    from klass
    where course_id = #{coureId,jdbcType=BIGINT}
  </select>
</mapper>