<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.group12.course.mapper.KlassSeminarMapper" >

  <resultMap id="BaseResultMap" type="com.group12.course.entity.KlassSeminar" >
    <id column="id" property="id" jdbcType="BIGINT" />

    <result column="report_ddl" property="reportDdl" jdbcType="TIMESTAMP" />
    <result column="seminar_status" property="seminarStatus" jdbcType="TINYINT" />

    <association property="seminar" column="seminar_id"
                 select="com.group12.course.mapper.SeminarMapper.selectSeminarById"
                 javaType="seminar"/>

    <association property="klass" column="klass_id"
                 select="com.group12.course.mapper.KlassMapper.selectKlassById"
                 javaType="com.group12.course.entity.Klass"/>
  </resultMap>

  <sql id="Base_Column_List" >
    id, seminar_id, klass_id ,report_ddl, seminar_status
  </sql>

  <select id="selectKlassSeminarById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from klass_seminar
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectKlassSeminarBySeminarIdAndKlassId" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from klass_seminar
    where klass_id = #{classId,jdbcType=BIGINT}
    and   seminar_id = #{seminarId,jdbcType=BIGINT}
  </select>

  <select id="selectKlassSeminarBySeminarId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from klass_seminar
    where seminar_id = #{seminarId,jdbcType=BIGINT}
  </select>

  <delete id="deleteById" parameterType="java.lang.Long" >
    delete from klass_seminar
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <delete id="deleteBySeminarId" parameterType="java.lang.Long" >
    delete from klass_seminar
    where seminar_id = #{seminarId,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.group12.course.entity.KlassSeminar" >
    insert into klass_seminar
    <trim prefix="(" suffix=")" suffixOverrides="," >
        klass_id,
        seminar_id,
        report_ddl,
        seminar_status,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        #{klassId,jdbcType=BIGINT},
        #{seminarId,jdbcType=BIGINT},
        #{reportDdl,jdbcType=TIMESTAMP},
        #{seminarStatus,jdbcType=TINYINT},
    </trim>
  </insert>

  <update id="updateKlassSeminar" parameterType="klassSeminar">
    update klass_seminar
    <set >
      <if test="reportDdl != null" >
        report_ddl = #{reportDdl,jdbcType=TIMESTAMP},
      </if>
      <if test="seminarStatus != null" >
        seminar_status = #{seminarStatus,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <insert id="insertByList" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
    insert into klass_seminar
    <trim prefix="(" suffix=")" suffixOverrides="," >
      klass_id,
      seminar_id,
      report_ddl,
      seminar_status,
    </trim>
    values
      <foreach collection="list" item="item" index="index" separator=",">
        <trim prefix="(" suffix=")" suffixOverrides=",">
          #{item.klass.id},
          #{item.seminar.id},
          #{item.reportDdl},
          #{item.seminarStatus},
        </trim>
      </foreach>
  </insert>
</mapper>