<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.group12.course.mapper.KlassSeminarMapper" >
  <resultMap id="BaseResultMap" type="com.group12.course.entity.KlassSeminar" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="klass_id" property="klassId" jdbcType="BIGINT" />
    <result column="seminar_id" property="seminarId" jdbcType="BIGINT" />
    <result column="report_ddl" property="reportDdl" jdbcType="TIMESTAMP" />
    <result column="seminar_status" property="seminarStatus" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, klass_id, seminar_id, report_ddl, seminar_status
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from klass_seminar
    where id = #{id,jdbcType=BIGINT}
  </select>

  <delete id="delete" parameterType="java.lang.Long" >
    delete from klass_seminar
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.group12.course.entity.KlassSeminar" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into klass_seminar (id, klass_id, seminar_id, 
      report_ddl, seminar_status)
    values (#{id,jdbcType=BIGINT}, #{klassId,jdbcType=BIGINT}, #{seminarId,jdbcType=BIGINT}, 
      #{reportDdl,jdbcType=TIMESTAMP}, #{seminarStatus,jdbcType=VARCHAR})
  </insert>

  <insert id="insert" parameterType="com.group12.course.entity.KlassSeminar" >
    insert into klass_seminar
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="klassId != null" >
        klass_id,
      </if>
      <if test="seminarId != null" >
        seminar_id,
      </if>
      <if test="reportDdl != null" >
        report_ddl,
      </if>
      <if test="seminarStatus != null" >
        seminar_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="klassId != null" >
        #{klassId,jdbcType=BIGINT},
      </if>
      <if test="seminarId != null" >
        #{seminarId,jdbcType=BIGINT},
      </if>
      <if test="reportDdl != null" >
        #{reportDdl,jdbcType=TIMESTAMP},
      </if>
      <if test="seminarStatus != null" >
        #{seminarStatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="update" parameterType="com.group12.course.entity.KlassSeminar" >
    update klass_seminar
    <set >
      <if test="klassId != null" >
        klass_id = #{klassId,jdbcType=BIGINT},
      </if>
      <if test="seminarId != null" >
        seminar_id = #{seminarId,jdbcType=BIGINT},
      </if>
      <if test="reportDdl != null" >
        report_ddl = #{reportDdl,jdbcType=TIMESTAMP},
      </if>
      <if test="seminarStatus != null" >
        seminar_status = #{seminarStatus,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>