<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.group12.course.mapper.PresentationMapper" >

  <resultMap id="BaseResultMap" type="com.group12.course.entity.Presentation" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="team_id" property="teamId" jdbcType="BIGINT" />
    <result column="ppt_name" property="presentationMaterialName" jdbcType="VARCHAR" />
    <result column="report_name" property="reportMaterialName" jdbcType="VARCHAR" />
    <result column="ppt_url" property="presentationMaterialUrl" jdbcType="VARCHAR" />
    <result column="report_url" property="reportMaterialUrl" jdbcType="VARCHAR" />
    <result column="is_present" property="presented" jdbcType="BIT" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="team_serial"  property="presentationOrder" jdbcType="INTEGER"/>
  </resultMap>

  <sql id="Base_Column_List" >
    id, team_id, ppt_name, report_name, ppt_url,
    report_url, is_present, gmt_create, gmt_modified,team_serial
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from attendance
    where id = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from attendance
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insertSelective" parameterType="com.group12.course.entity.Presentation" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into attendance
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="teamId != null" >
        team_id,
      </if>
      <if test="presentationMaterialName != null" >
        ppt_name,
      </if>
      <if test="reportMaterialName != null" >
        report_name,
      </if>
      <if test="presentationMaterialUrl != null" >
        ppt_url,
      </if>
      <if test="reportMaterialUrl != null" >
        report_url,
      </if>
      <if test="presented != null" >
        is_present,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="presentationOrder !=null">
        team_serial,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="teamId != null" >
        #{teamId,jdbcType=BIGINT},
      </if>
      <if test="presentationMaterialName != null" >
        #{presentationMaterialName,jdbcType=VARCHAR},
      </if>
      <if test="reportMaterialName != null" >
        #{reportMaterialName,jdbcType=VARCHAR},
      </if>
      <if test="presentationMaterialUrl != null" >
        #{presentationMaterialUrl,jdbcType=VARCHAR},
      </if>
      <if test="reportMaterialUrl != null" >
        #{reportMaterialUrl,jdbcType=VARCHAR},
      </if>
      <if test="presented != null" >
        #{presented,jdbcType=BIT},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="presentationOrder !=null">
        #{presentationOrder,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.group12.course.entity.Presentation" >
    update attendance
    <set >
      <if test="teamId != null" >
        team_id = #{teamId,jdbcType=BIGINT},
      </if>
      <if test="presentationMaterialName != null" >
        ppt_name = #{presentationMaterialName,jdbcType=VARCHAR},
      </if>
      <if test="reportMaterialName != null" >
        report_name = #{reportMaterialName,jdbcType=VARCHAR},
      </if>
      <if test="presentationMaterialUrl != null" >
        ppt_url = #{presentationMaterialUrl,jdbcType=VARCHAR},
      </if>
      <if test="reportMaterialUrl != null" >
        report_url = #{reportMaterialUrl,jdbcType=VARCHAR},
      </if>
      <if test="is_present != null" >
        is_present = #{is_present,jdbcType=BIT},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.group12.course.entity.Presentation" >
    update attendance
    set team_id = #{teamId,jdbcType=BIGINT},
      ppt_name = #{presentationMaterialName,jdbcType=VARCHAR},
      report_name = #{reportMaterialName,jdbcType=VARCHAR},
      ppt_url = #{presentationMaterialUrl,jdbcType=VARCHAR},
      report_url = #{reportMaterialUrl,jdbcType=VARCHAR},
      is_present = #{is_present,jdbcType=BIT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>