<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.group12.course.mapper.QuestionMapper" >

  <resultMap id="BaseResultMap" type="question" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="is_selected" property="selected" jdbcType="BIT" />
    <result column="score" property="score" jdbcType="DECIMAL" />

    <association property="klassSeminar" select="com.group12.course.mapper.KlassSeminarMapper.selectKlassSeminarById"
                 column="klass_seminar_id" javaType="com.group12.course.entity.KlassSeminar"/>
    <association property="attendance" select="com.group12.course.mapper.AttendanceMapper.selectAttendanceById"
                 column="attendance_id" javaType="com.group12.course.entity.Attendance"/>
    <association property="team" select="com.group12.course.mapper.TeamMapper.selectTeamById"
                 column="team_id" javaType="com.group12.course.entity.Team"/>
    <association property="student" select="com.group12.course.mapper.StudentMapper.selectStudentById"
                 column="student_id" javaType="com.group12.course.entity.Student"/>
  </resultMap>

  <sql id="Base_Column_List" >
    id, klass_seminar_id, attendance_id, team_id, student_id, is_selected, score
  </sql>

  <select id="selectQuestionById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from question
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectQuestionByKlassSeminarId" resultMap="BaseResultMap" parameterType="java.lang.Long">
    select
    <include refid="Base_Column_List"/>
    from question
    where klass_seminar_id =#{klassSeminarId,jdbcType=BIGINT}
  </select>

  <delete id="deleteQuestionById" parameterType="java.lang.Long" >
    delete from question
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <delete id="deleteQuestionByKlassSeminarId" parameterType="java.lang.Long" >
    delete from question
    where klass_seminar_id = #{klassSeminarId,jdbcType=BIGINT}
  </delete>

  <insert id="insertQuestion" parameterType="question" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into question
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="klassSeminar.id != null" >
        klass_seminar_id,
      </if>
      <if test="attendance.id != null" >
        attendance_id,
      </if>
      <if test="team.id != null" >
        team_id,
      </if>
      <if test="student.id != null" >
        student_id,
      </if>
      <if test="selected != null" >
        is_selected,
      </if>
      <if test="score != null" >
        score,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="klassSeminar.id != null" >
        #{klassSeminar.id,jdbcType=BIGINT},
      </if>
      <if test="attendance.id != null" >
        #{attendance.id,jdbcType=BIGINT},
      </if>
      <if test="team.id != null" >
        #{team.id,jdbcType=BIGINT},
      </if>
      <if test="student.id != null" >
        #{student.id,jdbcType=BIGINT},
      </if>
      <if test="selected != null" >
        #{selected,jdbcType=BIT},
      </if>
      <if test="score != null" >
        #{score,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>

  <update id="updateQuestion" parameterType="question" >
    update question
    <set >
      <if test="selected != null" >
        is_selected = #{selected,jdbcType=BIT},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>


</mapper>