<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.group12.course.mapper.RoundScoreMapper" >


    <resultMap id="BaseResultMap" type="roundScore" >
        <result column="presentation_score" property="presentationScore" jdbcType="DECIMAL" />
        <result column="question_score" property="questionScore" jdbcType="DECIMAL" />
        <result column="report_score" property="reportScore" jdbcType="DECIMAL" />
        <result column="total_score" property="totalScore" jdbcType="DECIMAL" />


        <association property="Round" column="round_id"
                     select="com.group12.course.mapper.RoundMapper.selectRoundById"
                     javaType="com.group12.course.entity.Round"/>

        <association property="team" column="team_id"
                     select="com.group12.course.mapper.TeamMapper.selectTeamById"
                     javaType="com.group12.course.entity.Team"/>
    </resultMap>

    <sql id="Base_Column_List" >
        round_id, team_id,presentation_score,report_score,question_score,total_score
    </sql>

    <update id="updateRoundScore" parameterType="roundScore">
        update round_score
        <set>
            <if test="presentationScore!=null">
                presentation_score = #{presentationScore,jdbcType=DECIMAL},
            </if>
            <if test="questionScore!=null">
                question_score = #{questionScore,jdbcType=DECIMAL},
            </if>
            <if test="reportScore!=null">
                report_score = #{reportScore,jdbcType=DECIMAL},
            </if>
            <if test="totalScore!=null">
                total_score = #{totalScore,jdbcType=DECIMAL},
            </if>
        </set>
        where round_id =#{round.id,jdbcType=BIGINT}
        and   team_id =#{team.id,jdbcType=BIGINT}
    </update>
</mapper>