<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.group12.course.mapper.SeminarMapper" >

  <resultMap id="BaseResultMap" type="com.group12.course.entity.Seminar" >
    <id column="id" property="id" jdbcType="BIGINT" />

    <result column="seminar_name" property="seminarName" jdbcType="VARCHAR" />
    <result column="introduction" property="introduction" jdbcType="VARCHAR" />
    <result column="max_team" property="maxTeam" jdbcType="TINYINT" />
    <result column="is_visible" property="visible" jdbcType="TINYINT" />
    <result column="seminar_serial" property="seminarSerial" jdbcType="TINYINT" />
    <result column="enroll_start_time" property="enrollStartTime" jdbcType="TIMESTAMP" />
    <result column="enroll_end_time" property="enrollEndTime" jdbcType="TIMESTAMP" />

    <association property="course" select="com.group12.course.mapper.CourseMapper.selectCourseById"
                 column="course_id" javaType="com.group12.course.entity.Course"/>

    <association property="round" select="com.group12.course.mapper.RoundMapper.selectRoundById"
                 column="round_id" javaType="com.group12.course.entity.Round"/>
  </resultMap>

  <sql id="Base_Column_List" >
    id, course_id, round_id, seminar_name, introduction, max_team, is_visible,
    seminar_serial, enroll_start_time, enroll_end_time
  </sql>

  <select id="selectSeminarById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from seminar
    where id = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteSeminarById" parameterType="java.lang.Long" >
    delete from seminar
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insertSeminar" parameterType="com.group12.course.entity.Seminar" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into seminar
    <trim prefix="(" suffix=")" suffixOverrides="," >
        course_id,
        round_id,
        seminar_name,
        max_team,
        is_visible,
        seminar_serial,
      <if test="introduction !=null">
        introduction,
      </if>
      <if test="enrollStartTime != null" >
        enroll_start_time,
      </if>
      <if test="enrollEndTime != null" >
        enroll_end_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        #{course.id,jdbcType=BIGINT},
        #{round.id,jdbcType=BIGINT},
        #{seminarName,jdbcType=VARCHAR},
        #{maxTeam,jdbcType=INTEGER},
        #{visible,jdbcType=TINYINT},
        #{seminarSerial,jdbcType=INTEGER},
      <if test="introduction != null" >
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="enrollStartTime != null" >
        #{enrollStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enrollEndTime != null" >
        #{enrollEndTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateSeminar">
    update seminar
    <set >
      <if test="round!=null">
      <if test="round.id!= null" >
        round_id = #{round.id,jdbcType=BIGINT},
      </if>
      </if>

      <if test="seminarName != null" >
        seminar_name = #{seminarName,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="maxTeam != null" >
        max_team = #{maxTeam,jdbcType=INTEGER},
      </if>
      <if test="visible != null" >
        is_visible = #{visible,jdbcType=TINYINT},
      </if>
      <if test="seminarSerial != null" >
        seminar_serial = #{seminarSerial,jdbcType=INTEGER},
      </if>
      <if test="enrollStartTime != null" >
        enroll_start_time = #{enrollStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enrollEndTime != null" >
        enroll_end_time = #{enrollEndTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>