<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.group12.course.mapper.SeminarScoreMapper" >
  <resultMap id="BaseResultMap" type="com.group12.course.entity.SeminarScore" >
    <id column="klass_seminar_id" property="klassSeminarId" jdbcType="BIGINT" />
    <id column="team_id" property="teamId" jdbcType="BIGINT" />
    <result column="total_score" property="totalScore" jdbcType="DECIMAL" />
    <result column="presentaton_score" property="presentatonScore" jdbcType="DECIMAL" />
    <result column="question_score" property="questionScore" jdbcType="DECIMAL" />
    <result column="report_score" property="reportScore" jdbcType="DECIMAL" />
  </resultMap>

  <sql id="Base_Column_List" >
    klass_seminar_id, team_id, total_score, presentaton_score, question_score, report_score
  </sql>

  <select id="select" resultMap="BaseResultMap" parameterType="com.group12.course.entity.SeminarScoreKey" >
    select 
    <include refid="Base_Column_List" />
    from seminar_score_table
    where klass_seminar_id = #{klassSeminarId,jdbcType=BIGINT}
      and team_id = #{teamId,jdbcType=BIGINT}
  </select>

  <delete id="delete" parameterType="com.group12.course.entity.SeminarScoreKey" >
    delete from seminar_score_table
    where klass_seminar_id = #{klassSeminarId,jdbcType=BIGINT}
      and team_id = #{teamId,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.group12.course.entity.SeminarScore" >
    insert into seminar_score_table
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="klassSeminarId != null" >
        klass_seminar_id,
      </if>
      <if test="teamId != null" >
        team_id,
      </if>
      <if test="totalScore != null" >
        total_score,
      </if>
      <if test="presentatonScore != null" >
        presentaton_score,
      </if>
      <if test="questionScore != null" >
        question_score,
      </if>
      <if test="reportScore != null" >
        report_score,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="klassSeminarId != null" >
        #{klassSeminarId,jdbcType=BIGINT},
      </if>
      <if test="teamId != null" >
        #{teamId,jdbcType=BIGINT},
      </if>
      <if test="totalScore != null" >
        #{totalScore,jdbcType=DECIMAL},
      </if>
      <if test="presentatonScore != null" >
        #{presentatonScore,jdbcType=DECIMAL},
      </if>
      <if test="questionScore != null" >
        #{questionScore,jdbcType=DECIMAL},
      </if>
      <if test="reportScore != null" >
        #{reportScore,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>

  <update id="update" parameterType="com.group12.course.entity.SeminarScore" >
    update seminar_score_table
    <set >
      <if test="totalScore != null" >
        total_score = #{totalScore,jdbcType=DECIMAL},
      </if>
      <if test="presentatonScore != null" >
        presentaton_score = #{presentatonScore,jdbcType=DECIMAL},
      </if>
      <if test="questionScore != null" >
        question_score = #{questionScore,jdbcType=DECIMAL},
      </if>
      <if test="reportScore != null" >
        report_score = #{reportScore,jdbcType=DECIMAL},
      </if>
    </set>
    where klass_seminar_id = #{klassSeminarId,jdbcType=BIGINT}
      and team_id = #{teamId,jdbcType=BIGINT}
  </update>

</mapper>