<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.group12.course.mapper.StudentMapper" >
  <resultMap id="BaseResultMap" type="com.group12.course.entity.Student" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="is_active" property="active" jdbcType="TINYINT" />
    <result column="student_name" property="studentName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, account, password, email, is_active, student_name
  </sql>

  <cache type="com.group12.course.tools.MybatisRedisCache" />

  <select id="getAllStudent" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from student
  </select>

  <select id="selectStudentByName" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from student
    where student_name = #{name,jdbcType=VARCHAR}
  </select>

  <select id="selectStudentByAccount" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from student
    where account = #{account,jdbcType=VARCHAR}
  </select>

  <select id="selectStudentById" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from student
    where id = #{id}
  </select>

  <delete id="deleteStudentByID">
    delete from student
    where id = #{id}
  </delete>

  <insert id="addStudent" parameterType="com.group12.course.entity.Student" >
    insert into student
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="active != null" >
        is_active,
      </if>
      <if test="studentName != null" >
        student_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="active != null" >
        #{active,jdbcType=TINYINT},
      </if>
      <if test="studentName != null" >
        #{studentName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateStudent" parameterType="com.group12.course.entity.Student" >
    update student
    <set >
      <if test="account != null" >
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="active != null" >
        is_active = #{active,jdbcType=TINYINT},
      </if>
      <if test="studentName != null" >
        student_name = #{studentName,jdbcType=VARCHAR},
      </if>
    </set>
    where account = #{account,jdbcType=VARCHAR}
  </update>

  <update id="updateStudentByID" parameterType="com.group12.course.entity.Student" >
    update student
    <set >
      <if test="account != null" >
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="active != null" >
        is_active = #{active,jdbcType=TINYINT},
      </if>
      <if test="studentName != null" >
        student_name = #{studentName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id}
  </update>

</mapper>