<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.group12.course.mapper.TeacherMapper" >
  <resultMap id="BaseResultMap" type="com.group12.course.entity.Teacher" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="teacher_name" property="teacherName" jdbcType="VARCHAR" />
    <result column="is_active" property="active" jdbcType="TINYINT" />
  </resultMap>

  <cache type="com.group12.course.tools.MybatisRedisCache" />

  <sql id="Base_Column_List" >
    id, account, password, email, teacher_name, is_active
  </sql>

  <select id="selectTeacherByAccount" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from teacher
    where account = #{account,jdbcType=VARCHAR}
  </select>

  <select id="selectTeacherById" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from teacher
    where id = #{id}
  </select>

  <select id="getAllTeacher" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from teacher
  </select>

  <select id="selectTeacherByName" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from teacher
    where teacher_name = #{name,jdbcType=VARCHAR}
  </select>

  <delete id="deleteTeacherByAccount" >
    delete from teacher
    where account = #{account,jdbcType=VARCHAR}
  </delete>

  <delete id="deleteTeacherByID" >
    delete from teacher
    where id = #{id}
  </delete>

  <insert id="addTeacher" parameterType="com.group12.course.entity.Teacher" >
    insert into teacher
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="teacherName != null" >
        teacher_name,
      </if>
      <if test="active != null" >
        is_active,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="teacherName != null" >
        #{teacherName,jdbcType=VARCHAR},
      </if>
      <if test="active != null" >
        #{active,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>

  <update id="updateTeacher" parameterType="com.group12.course.entity.Teacher" >
    update teacher
    <set >
      <if test="account != null" >
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="teacherName != null" >
        teacher_name = #{teacherName,jdbcType=VARCHAR},
      </if>
      <if test="active != null" >
        is_active = #{active,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id}
  </update>

</mapper>