<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.group12.course.mapper.TeamAndStrategyMapper" >

    <resultMap id="ConflictCourseStrategyResultMap" type="com.group12.course.entity.strategy.TeamAndStrategy">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="strategy_name" property="strategyName" jdbcType="VARCHAR" />

        <collection property="strategyList" column="strategy_id"
                     select="com.group12.course.mapper.ConflictCourseStrategyMapper.selectConflictCourseStrategyById"/>
    </resultMap>


    <resultMap id="MemberLimitStrategyResultMap" type="com.group12.course.entity.strategy.TeamAndStrategy">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="strategy_name" property="strategyName" jdbcType="VARCHAR" />

        <collection property="strategyList" column="strategy_id"
                     select="com.group12.course.mapper.MemberLimitStrategyMapper.selectMemberLimitStrategyById"/>
    </resultMap>


    <resultMap id="CourseMemberLimitStrategyResultMap" type="com.group12.course.entity.strategy.TeamAndStrategy">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="strategy_name" property="strategyName" jdbcType="VARCHAR" />

        <association property="strategyList" column="strategy_id"
                     select="com.group12.course.mapper.CourseMemberLimitStrategyMapper.selectCourseMemberLimitStrategyById"/>
    </resultMap>


    <resultMap id="TeamAndStrategyResultMap" type="com.group12.course.entity.strategy.TeamAndStrategy">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="strategy_name" property="strategyName" jdbcType="VARCHAR" />

        <collection property="strategyList" column="strategy_id"
                     select="com.group12.course.mapper.TeamAndStrategyMapper.selectTeamAndStrategyById"/>
    </resultMap>


    <resultMap id="TeamOrStrategyResultMap" type="com.group12.course.entity.strategy.TeamAndStrategy">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="strategy_name" property="strategyName" jdbcType="VARCHAR" />

        <collection property="strategyList" column="strategy_id"
                     select="com.group12.course.mapper.TeamOrStrategyMapper.selectTeamOrStrategyById"/>
    </resultMap>


    <resultMap id="BaseResultMap" type="com.group12.course.entity.strategy.TeamAndStrategy">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="strategy_name" property="strategyName" jdbcType="VARCHAR" />

        <discriminator javaType="java.lang.String" column="strategy_name">
            <case value="ConflictCourseStrategy" resultMap="ConflictCourseStrategyResultMap"/>
            <case value="MemberLimitStrategy" resultMap="MemberLimitStrategyResultMap"/>
            <case value="CourseMemberLimitStrategy" resultMap="CourseMemberLimitStrategyResultMap"/>
            <case value="TeamAndStrategy" resultMap="TeamAndStrategyResultMap"/>
            <case value="TeamOrStrategy" resultMap="TeamOrStrategyResultMap"/>
        </discriminator>
    </resultMap>



    <sql id="Base_Column_List" >
    id, strategy_name,strategy_id
    </sql>

    <!--<cache type="com.group12.course.tools.MybatisRedisCache" />-->

    <select id="selectTeamAndStrategyById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from team_and_strategy
        where id = #{id,jdbcType=BIGINT}
    </select>

    <insert id="addTeamAndStrategy" parameterType="com.group12.course.entity.strategy.TeamAndStrategy">
        insert into team_and_strategy
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="strategyName != null">
                strategy_name,
            </if>
            <if test="strategyId != null">
                strategy_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id !=null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="strategyName != null">
                #{strategyName,jdbcType=VARCHAR},
            </if>
            <if test="strategyId != null ">
                #{strategyId,jdbcType=BIGINT}
            </if>
        </trim>
    </insert>

    <select id="selectAllTeamAndStrategy" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from team_and_strategy
    </select>
</mapper>