<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.group12.course.mapper.TeamMapper" >

    <resultMap id="BaseResultMap" type="com.group12.course.entity.Team" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="leader_id" property="leaderId" jdbcType="BIGINT" />
        <result column="label" property="label" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="is_valid" property="valid" jdbcType="BIT" />
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />

        <association property="course" select="com.group12.course.mapper.CourseMapper.selectCourseById"
                   column="course_id" javaType="com.group12.course.entity.Course"/>
    </resultMap>

    <sql id="Base_Column_List" >
        id, course_id, leader_id, label, name, is_valid, gmt_create, gmt_modified
    </sql>

  <select id="selectTeamById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from team
    where id = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteTeam" parameterType="java.lang.Long" >
    delete from team
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="addTeam" parameterType="com.group12.course.entity.Team" >
    insert into team
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="courseId != null" >
        course_id,
      </if>
      <if test="leaderId != null" >
        leader_id,
      </if>
      <if test="label != null" >
        label,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="valid != null" >
        is_valid,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="courseId != null" >
        #{courseId,jdbcType=BIGINT},
      </if>
      <if test="leaderId != null" >
        #{leaderId,jdbcType=BIGINT},
      </if>
      <if test="label != null" >
        #{label,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="valid != null" >
        #{valid,jdbcType=BIT},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateTeam" parameterType="com.group12.course.entity.Team" >
    update team
    <set >
      <if test="courseId != null" >
        course_id = #{courseId,jdbcType=BIGINT},
      </if>
      <if test="leaderId != null" >
        leader_id = #{leaderId,jdbcType=BIGINT},
      </if>
      <if test="label != null" >
        label = #{label,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="valid != null" >
        is_valid = #{valid,jdbcType=BIT},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>