<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.group12.course.mapper.TeamAndStrategyMapper" >

    <resultMap id="ConflictCourseStrategyResultMap" type="com.group12.course.entity.strategy.TeamAndStrategy">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="strategy_name" property="strategyName" jdbcType="VARCHAR" />

        <association property="strategy" column="strategy_id"
                     select="com.group12.course.mapper.ConflictCourseStrategyMapper.selectConflictCourseStrategyById"
                     javaType="com.group12.course.entity.strategy.ConflictCourseStrategy"/>
    </resultMap>


    <resultMap id="MemberLimitStrategyResultMap" type="com.group12.course.entity.strategy.TeamAndStrategy">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="strategy_name" property="strategyName" jdbcType="VARCHAR" />

        <association property="strategy" column="strategy_id"
                     select="com.group12.course.mapper.MemberLimitStrategyMapper.selectMemberLimitStrategyById"
                     javaType="com.group12.course.entity.strategy.MemberLimitStrategy"/>
    </resultMap>


    <resultMap id="CourseMemberLimitStrategyResultMap" type="com.group12.course.entity.strategy.TeamAndStrategy">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="strategy_name" property="strategyName" jdbcType="VARCHAR" />

        <association property="strategy" column="strategy_id"
                     select="com.group12.course.mapper.ConflictCourseStrategyMapper.selectConflictCourseStrategyById"
                     javaType="com.group12.course.entity.strategy.ConflictCourseStrategy"/>
    </resultMap>


    <resultMap id="TeamAndStrategyResultMap" type="com.group12.course.entity.strategy.TeamAndStrategy">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="strategy_name" property="strategyName" jdbcType="VARCHAR" />

        <association property="strategy" column="strategy_id"
                     select="com.group12.course.mapper.TeamAndStrategyMapper.selectTeamAndStrategyById"
                     javaType="com.group12.course.entity.strategy.TeamAndStrategy"/>
    </resultMap>


    <resultMap id="TeamOrStrategyResultMap" type="com.group12.course.entity.strategy.TeamAndStrategy">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="strategy_name" property="strategyName" jdbcType="VARCHAR" />

        <association property="strategy" column="strategy_id"
                     select="com.group12.course.mapper.TeamOrStrategyMapper.selectTeamOrStrategyById"
                     javaType="com.group12.course.entity.strategy.TeamOrStrategy"/>
    </resultMap>



    <resultMap id="BaseResultMap" type="com.group12.course.entity.strategy.TeamAndStrategy">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="strategy_name" property="strategyName" jdbcType="VARCHAR" />

        <discriminator javaType="java.lang.String" column="strategy_name">
            <case value="conflict_course_strategy" resultMap="ConflictCourseStrategyResultMap"/>
            <case value="member_limit_strategy" resultMap="MemberLimitStrategyResultMap"/>
            <case value="course_member_limit_strategy" resultMap="CourseMemberLimitStrategyResultMap"/>
            <case value="team_and_strategy" resultMap="TeamAndStrategyResultMap"/>
            <case value="team_or_strategy" resultMap="TeamOrStrategyResultMap"/>
        </discriminator>
    </resultMap>



    <sql id="Base_Column_List" >
    id, strategy_name,strategy_id
    </sql>

    <select id="selectTeamAndStrategyById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from team_and_strategy
        where id = #{id,jdbcType=BIGINT}
    </select>

    <insert id="addTeamAndStrategy" parameterType="com.group12.course.entity.strategy.TeamAndStrategy">
        insert into team_and_strategy
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="strategyName != null">
                strategy_name,
            </if>
            <if test="strategyAndStrategy.strategy != null">
                strategy_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id !=null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="strategyName != null">
                #{strategyName,jdbcType=VARCHAR},
            </if>
            <if test="strategyAndStrategy.strategy != null ">
                #{strategyAndStrategy.strategy.id,jdbcType=BIGINT}
            </if>
        </trim>
    </insert>
</mapper>