<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.group12.course.mapper.TeamValidApplicationMapper" >


    <resultMap id="BaseResultMap" type="com.group12.course.entity.application.TeamValidApplication" >

        <id column="id" property="id" jdbcType="BIGINT" />

        <result column="reason" property="reason" jdbcType="VARCHAR" />

        <result column="status" property="status" jdbcType="BIT" />

        <association property="team" column="team_id"
                     select="com.group12.course.mapper.TeamMapper.selectTeamById"
                     javaType="com.group12.course.entity.Team"/>

        <association property="teacher" column="teacher_id"
                     select="com.group12.course.mapper.TeacherMapper.selectTeacherById"
                     javaType="com.group12.course.entity.Teacher"/>

    </resultMap>

    <sql id="Base_Column_List" >
        id,team_id,teacher_id,reason,status
    </sql>

    <select id="selectTeamValidApplicationById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from team_valid_application
        where id=#{id,jdbcType=BIGINT}
    </select>

    <select id="selectTeamValidApplicationByTeacherId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from team_valid_application
        where teacher_id=#{id,jdbcType=BIGINT}
    </select>

    <insert id="addTeamValidApplication" useGeneratedKeys="true" keyProperty="id" parameterType="com.group12.course.entity.application.TeamValidApplication">
        insert into team_valid_application
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="team.id != null" >
                team_id,
            </if>
            <if test="teacher.id != null" >
                teacher_id,
            </if>
            <if test="reason != null" >
                reason,
            </if>
            <if test="status != null" >
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="team.id != null" >
                #{team.id},
            </if>
            <if test="teacher.id != null" >
                #{teacher.id},
            </if>
            <if test="reason != null" >
                #{reason},
            </if>
            <if test="status != null" >
                #{status},
            </if>
        </trim>
    </insert>

    <update id="updateTeamValidApplicationStatusById" parameterType="com.group12.course.entity.application.TeamValidApplication" >
        update team_valid_application
        <set >
            <if test="status != null" >
               status = #{status}
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

</mapper>