<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.group12.course.mapper.TeamMapper" >

    <resultMap id="BaseResultMap" type="com.group12.course.entity.Team" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="team_name" property="teamName" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="BIT" />
        <result column="team_serial" property="teamSerial" jdbcType="BIT" />

        <association property="klass" select="com.group12.course.mapper.KlassMapper.selectKlassById"
                   column="klass_id" javaType="com.group12.course.entity.Klass"/>
        <association property="course" select="com.group12.course.mapper.CourseMapper.selectCourseById"
                   column="course_id" javaType="com.group12.course.entity.Course"/>
        <association property="leader" select="com.group12.course.mapper.StudentMapper.selectStudentById"
                   column="leader_id" javaType="com.group12.course.entity.Student"/>
    </resultMap>

    <resultMap id="StudentResultMap" type="com.group12.course.entity.Student" >
        <id column="student_id" property="id" jdbcType="BIGINT" />
    </resultMap>

    <cache type="com.group12.course.tools.MybatisRedisCache" />

    <sql id="Base_Column_List" >
        id, course_id,klass_id, leader_id, team_name, team_serial,status
    </sql>

  <select id="selectTeamById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from team
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectTeamByLeaderId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from team
    where leader_id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectTeamIdByMembersId" resultType="java.lang.Long" parameterType="java.lang.Long" >
    select
    team_id
    from klass_student
    where student_id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectTeamMembersByTeamId" resultMap="StudentResultMap" parameterType="java.lang.Long" >
    select
    student_id
    from klass_student
    where team_id = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteTeam" parameterType="java.lang.Long" >
    delete from team
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <delete id="deleteTeamMembers" parameterType="java.lang.Long" >
    delete from klass_student
    where student_id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="addTeam" useGeneratedKeys="true" keyProperty="record.id">
    insert into team
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="courseId != null" >
        course_id,
      </if>
      <if test="leaderId != null" >
        leader_id,
      </if>
      <if test="klassId != null" >
        klass_id,
      </if>
      <if test="record.teamName != null" >
        team_name,
      </if>
      <if test="record.status != null" >
        status,
      </if>
      <if test="record.teamSerial != null" >
        is_valid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="courseId != null" >
        #{courseId},
      </if>
      <if test="leaderId != null" >
        #{leaderId},
      </if>
      <if test="klassId != null" >
        #{klassId},
      </if>
      <if test="record.teamName != null" >
        #{record.teamName},
      </if>
      <if test="record.status != null" >
        #{record.status},
      </if>
      <if test="record.teamSerial != null" >
        #{record.teamSerial},
      </if>
    </trim>
  </insert>

  <insert id="addTeamMembers">
    insert into klass_student
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="courseId != null" >
        course_id,
      </if>
      <if test="studentId != null" >
        student_id,
      </if>
      <if test="klassId != null" >
        klass_id,
      </if>
      <if test="teamId != null" >
        team_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="courseId != null" >
        #{courseId},
      </if>
      <if test="studentId != null" >
        #{studentId},
      </if>
      <if test="klassId != null" >
        #{klassId},
      </if>
      <if test="teamId != null" >
        #{teamId},
      </if>
    </trim>
  </insert>

  <update id="updateTeam" parameterType="com.group12.course.entity.Team" >
    update team
    <set >
      <if test="klassId != null" >
        klass_id = #{klassId},
      </if>
      <if test="teamName != null" >
        team_name = #{teamName},
      </if>
      <if test="status != null" >
        status = #{status},
      </if>
      <if test="teamSerial != null" >
        team_serial = #{teamSerial},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>