<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.group12.course.mapper.UserMapper">

    <!-- 获得账号获取用户 -->
    <select id="getUserByAccout" resultType="com.group12.course.entity.User">
        select account,password,email,name,is_active from user
        where account=#{account}
    </select>

    <!-- 修改用户密码 -->
    <update id="setUserPasswordByAccount">
        update user set password = #{password} where account=#{account}
    </update>

    <!-- 添加用户 -->
    <insert id="addUser" >
        insert into user(account,password,email,name,is_active)
        values (#{account},#{password},#{email},#{name},#{active})
    </insert>
</mapper>